/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  width:490px;
  background-color:#2a1d14;
  border:1px solid #cf9d46;
  margin:0px;
  margin-top:0px;
  padding:0px;
  text-align:left;
  max-height:200px;
  color:#cf9d46;
  overflow:auto;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected { 
  background-color: #322117;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current { 
  background-color: #4f3a27;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:6px 0px 3px 3px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox 
{
 
  
font-family: 'klavika_mediumregular';
  width :470px; /* Resize Width */
  display : block;
  height:30px;
  text-align:left; 
  background: url('../images/themis_img_full.png') right;
  cursor: pointer;
  border:none;
  color:#4f3a27; font-size:14px;
  
  line-height:30px;
  padding-left:30px;
  text-transform:uppercase;
}


