@mixin btn-green-style() {
  color: #d0d1ca;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b3a7+0,404526+39 */
  background: #b2b3a7; /* Old browsers */
  background: -moz-linear-gradient(top,  #b2b3a7 0%, #404526 39%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b2b3a7 0%,#404526 39%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b2b3a7 0%,#404526 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b3a7', endColorstr='#404526',GradientType=0 ); /* IE6-9 */

  border-color: #151515;
  @include border_shadow_white();
}

@mixin btn-brown-style() {
  color: #d0d1ca;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b3a7+0,453826+39 */
  background: #b2b3a7; /* Old browsers */
  background: -moz-linear-gradient(top,  #b2b3a7 0%, #453826 39%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b2b3a7 0%,#453826 39%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b2b3a7 0%,#453826 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b3a7', endColorstr='#453826',GradientType=0 ); /* IE6-9 */

  border-color: #151515;
  @include border_shadow_white();
}

.btn-brown-small {
  width: 40px;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 2px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  @include btn-brown-style();
}

.btn-brown-small:hover {
  @include btn-brown-style();
}

.btn-brown-small:focus {
  @include btn-brown-style();
  outline: none;
}

.btn-brown {
  width: 60px;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 2px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  @include btn-brown-style();
}

.btn-brown:hover {
  @include btn-brown-style();
}

.btn-brown:focus {
  @include btn-brown-style();
  outline: none;
}

.btn-green {
  width: 60px;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 2px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  @include btn-green-style();
}

.btn-green:hover {
  @include btn-green-style();
}

.btn-green:focus {
  @include btn-green-style();
  outline: none;
}

.btn-green-small {
  width: 40px;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 2px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  @include btn-green-style();
}

.btn-green-small:hover {
  @include btn-green-style();
}

.btn-green-small:focus {
  @include btn-green-style();
  outline: none;
}