.cart_main {
  .cart_select_menu {
    color: #000;
  }
  .cart_bottom_nav {
    margin-top: 20px;
  }
  .cart_listed_items {
    color: #999999;
    table {
      thead {
        background-color: #151516;
        th {
          padding: 5px;
        }
      }
      tr {
        td{
          img {
            width: 30px;
            height: 30px;
            margin: 5px 20px 5px 20px;
          }
          input {
            margin-left: 20px;
          }
          background-color: #1a1a1b;
          padding-bottom: 3px;
        }
        border-top: solid 1px #242424;
      }
      width: 660px;
    }

    .cart_purchase_total {
      color: #ff6666;
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .content_main {
    padding: 10px;
  }
  .cart_top_nav {
    font-size: 10px;
    color: #888888;
    height: 60px;
  }
  .scrollbar {
    width: 705px;
  }
  background-color: #242425;
  width: 709px;
  height: 574px;
}