.content_main {
  position: relative;

  .display_box {
    color: #d6d6d6;
    display: inline-block;

    .display_box_inner_contenet {
      font-size: 12px;
      .display_box_bottom{
        width: 322px;
        height: 175px;

        .display_box_bottom_content {
          img {
            width: 65px;
            height: 65px;
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          span {
            width: 95px;
            height: 30px;
            display: block;
            overflow: hidden;
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
          }
          button {
            margin-top: 10px;
          }
          .price {
            width: 95px;
            margin-left: 15px;
          }
          display: inline-block;
          margin: 0px;
          width: 105px;
          height: 175px;
          background-color: rgba(15, 15, 15, 0.8);
        }
      }
      .display_box_top {
        .display_box_top_info {
          display: inline-block;
          position: relative;
          width: 210px;
          height: 110px;
          .display_box_top_name {
            color: #bd6699;
            font-weight: 600;
            vertical-align: bottom;
            height: 35px;
            width: 145px;
            padding-top: 2px;
          }
          .display_box_top_price {
            color: #bd6699;
            font-weight: 600;
            width: 70px;
            vertical-align: bottom;
            padding-left: 17px;
            background-image: url("/images/pus/coins.png");
            background-repeat: no-repeat;
            background-position: left 90%;

          }
          .display_box_top_description {
            td {
              display: block;
              white-space: nowrap;
              height: 50px;
              width: 115px;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .display_box_top_icon {
          display: inline-block;
          padding: 5px;
          position: relative;
          vertical-align: top;
          .display_box_corner_icon {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          .display_box_icon_background {
            background-color: #cacaca;
            width: 85px;
            height: 85px;
            padding: 10px;
            .display_box_icon {
              width: 65px;
              height: 65px;
            }
          }
        }
        width: 322px;
        height: 110px;
        background-color: #21221f;
        border-bottom: solid 1px #090908;
      }
      width: 336px;
      height: 300px;
      border: solid 1px #484b3d;
      padding: 5px;
      background-color: rgba(14, 14, 10, 0.8);
      @include border_shadow();

    }
  }

  .weekly_hot_items {
    .weekly_hot_hr {
      border-color: #30302f;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .weekly_hot_list{
      span {
        padding-left: 5px;
        padding-right: 15px;
      }
      color: #d6d6d6;
      position: relative;
      left: -40px;
      font-size: 13px;
      list-style-type: none;
      white-space: nowrap;
      overflow: hidden;
      width: 250px;

    }
    color: #535351;
    position: absolute;
    width: 225px;
    background: rgba(25, 25, 25, .8);
    border: solid 1px #0b2f3c;
    border-radius: 2px;
    right: 0px;
    top: -1px;
    padding: 5px;
  }
  .content_banner {
    img {
      margin: 5px;
    }

    width: 449px;
    background: rgba(25, 25, 25, .8);
    border: solid 1px #0b2f3c;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 1px;
  }

  .main_hr {
    margin-left: 5px;
    margin-right: 5px;
    border-width: 3px;
    border-color: #665a34;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

#RechargeSubmit {
  select {
    margin-left: 10%;
    width: 80%;
  }
  h3 {
    margin-left: 15px;
  }
}