.itemlist_main_content {
  table {
    thead {
      background-color: #151516;
      th {
        padding: 5px;
      }
    }
    tr:hover {
      cursor: pointer;
    }
    tr {
      td{
        img {
          width: 30px;
          height: 30px;
          margin: 5px 20px 5px 20px;
        }
        input {
          margin-left: 10px;
        }
        background-color: #1a1a1b;
      }
      border-top: solid 1px #242424;
    }
    color: #999999;
    font-size: 12px;
    width: 360px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .itemlist_listed_content {
    .force-overflow {
      min-height: 470px;
    }
    .itemlist_page_buttons {
      .current {
        color: #fff;
      }
      a {
        color: #666666;
      }
      width: 360px;
    }
    .scrollbar {
      height: 470px;
      width: 410px;
    }
  }
  .itemlist_top_nav {
    .itemlist_top_nav_buttons {
      display: inline-block;
      padding-right: 40px;
    }
    .dropdown {
      .dropdown-toggle {
        padding: 0px;
        padding-right: 5px;
        margin: 15px;
      }
      display: inline-block;
      height: 25px;
    }
    height: 55px;
  }
  width: 711px;
  height: 575px;
  margin: 0px;
  background-color: #242424;
}