div {
  margin: 1px;
}

.padding-10 {
  padding: 2px;
}

.padding-0 {
  padding: 0px;
}

.main_area {
  padding-top: 90px;
}

.no-margin {
  margin: 0px;
}

.content_area {
  display: inline-block;
  margin-left: 12px;
  background: rgba(25, 25, 25, .6);
  width: 715px;
  height: 580px;
  border: solid 1px #484b3d;
  border-radius: 3px;
}

.border_shadow {
   -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
 }

@mixin border_shadow() {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
}

@mixin border_shadow_white() {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.75);
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align_bottom {
  vertical-align: bottom;
}

.price {
  vertical-align: bottom;
  padding-left: 17px;
  background-image: url("/images/pus/coins.png");
  background-repeat: no-repeat;
  background-position: left 90%;
}