.ui-dialog {
  padding: 0px !important;
  border-radius: 0px !important;
}

.ui-dialog-titlebar-close {
  background-image: url(images/ui-icons_dadee2_256x240.png);
  background-color: #333;
  background-position: -95px -127px;
  border: 1px solid #333;
  border-radius: 2px;
}

.ui-widget-content {
  background: #363636 !important;
}