.logo_image {
  float: right;
  padding: 5px;
  margin-right: 15px;
}

.logo_image:hover {
  cursor: pointer;
}

.topnav_container {
  float: left;
  padding: 5px;
}

.outer_border {
  border: solid 1px #22221d;
  border-radius: 4px;
}

.nav_search {
  width: 710px;
  height: 35px;
  background: rgba(25, 25, 25, .6);
  border: solid 1px #484b3d;
  border-radius: 3px;
}

.nav_categories {
  width: 710px;
  height: 30px;
  background: rgba(25, 25, 25, .6);
  border: solid 1px #484b3d;
  border-radius: 3px;
}

#dropdown-type-text {
  width: 100px;
  display: inline-block;
}

.itemsearch {
  padding-left: 30px;

  .dropdown {
    display: inline-block;
  }
  .search_button {
    margin-left: 15px;
  }

  label {
    color: #CCC;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .radio_button {
    display: inline-block;
  }

  #ItemInput {
    width: 250px;
    display: inline-block;
    height: 23px;
    vertical-align: middle;
  }

  .btn {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEE;
  }
}

.rightnav {
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  width: 230px;
  height: 580px;

  .bottom_button_group {
    margin-top: 240px;

    .bottom_button {
      display: inline-block;
      img {
        margin-left: -1px;
      }
    }

    .promotion_button {
      margin-top: 5px;
    }
  }

  .recharge_image {
    margin-top: 5px;
    margin-left: 1px;
  }

  .kc_box_outer {
    width: 228px;
    height: 120px;
    background: rgba(25, 25, 25, .6);
    border: solid 1px #484b3d;
    border-radius: 3px;

    .kc_box_inner {

      .knight_cash_display {
        vertical-align: middle;
        color: #b29d65;
        text-align: center;
        padding-top: 35px;

        span {
          color: #d6d6d6;
        }

        hr {
          margin-top: 3px;
          padding-top: 3px;
          margin-left: 15px;
          margin-right: 15px;
          border-color: #0f1105;
        }
      }

      background: rgba(38, 41, 20, 0.8);
      width: 100%;
      height: 100%;
    }
  }
}

.categories_list {
  list-style: none;
  list-style-type: none;
  padding-left: 35px;
  padding-top: 4px;

  li {
    display: inline;

    a {
      text-decoration: none;
      color: #fff;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 5px;
      padding-bottom: 5px;

    }
    a:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 4px;
    }
    a:visited {
      color: #fff;
    }
  }
}

