.popup_item_detail {
  font-size: 13px;

  hr {
    border-color: #292a27;
    margin-top: 2px;
    margin-bottom: 2px;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(65, 66, 63, 1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(65, 66, 63, 1);
    box-shadow: 0px 1px 1px 0px rgba(65, 66, 63, 1);
  }

  .popup_item_detail_content {
    .popup_item_detail_buttons {
      margin-top: 10px;
      padding-left: 135px
    }
    .popup_item_detail_description {
      height: 180px;
    }
    .popup_item_detail_info_top {
      .dropdown {
        .dropdown-toggle {
          color: #000 !important;
          padding: 0px;
          padding-right: 5px;
        }
        display: inline-block;
        height: 25px;
      }
      height: 25px;
      width: 350px;
    }
    img {
      width: 65px;
      height: 65px;
      margin: 10px;
    }
  }
}

.popup_message_text {
  width: 430px;
  text-align: center;
}

.ui-dialog-content {
  button {
    font-size: 11px;
  }
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('http://i.stack.imgur.com/FhHRx.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}