<?php

ob_start();
session_start();

include('guvenlik/antisqlinject.php');
define('GUVENLIK',true);
<table border="0" cellpadding="0" cellspacing="0" width="200">
                                <tbody><tr align="center" valign="middle">
                                  <td class="12_yellow" width="20">&nbsp;</td>
                                  <td colspan="2" style="font-family: 'verdana',Times,serif; color: rgb(0, 0, 0); font-size: 10px; padding-top: 10px;" height="30">*<strong>1000 Health+ Scroll(L)</strong></td>
                              </tr>
                                <tr>
                                  <td align="right" width="78">&nbsp;</td>
                                  <td align="right" width="78"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td align="right" height="80" valign="bottom"><table border="0" cellpadding="0" cellspacing="0" height="72" width="72">
                                            <tbody><tr>
                                              <td align="center" background="include/images/table1_01.gif"><a href="#"><img src="include/images/itemicon_8_0001_20_0.jpg" border="0" height="64" width="64"></a></td>
                                          </tr>
                                          </tbody></table></td>
                                      </tr>
                                      <tr>
                                        <td align="right" height="32" valign="bottom">&nbsp;</td>
                                    </tr>
                                    </tbody></table></td>
                                  <td align="center" valign="bottom" width="102"><table border="0" cellpadding="0" cellspacing="0" height="108" width="106">
                                      <tbody><tr>
                                        <td align="right"><table border="0" cellpadding="0" cellspacing="0" width="100">
                                            <tbody><tr>
                                              <td style="font-family: 'verdana',Times,serif; color: rgb(0, 0, 0); font-size: 10px;" width="10">-</td>
                                              <td style="font-family: verdana,sans-serif; color: rgb(0, 0, 0); font-size: 11px;" height="16">Price :
			                                        140
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="font-family: 'verdana',Times,serif; color: rgb(0, 0, 0); font-size: 10px;">-</td>
                                              <td style="font-family: verdana,sans-serif; color: rgb(0, 0, 0); font-size: 11px;" height="16">Quantity
                                                : 30</td>
                                            </tr>
                                          </tbody></table></td>
                                      </tr>
                                      <tr>
                                        <td align="center" height="30">
                                        
<a href="http://global.knight-online.be/powerupstorev1/default.asp?islem=kaydet&amp;ID=EIectra&amp;ITEMID=HP11x123414415m2k2cl2"><img src="include/images/butt_buy.gif" name="butt_buy113" id="butt_buy1" border="0" height="30" width="89"></a>
                                        


                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" height="30">&nbsp;</td>
                                    </tr>

                                    </tbody></table></td>
                                </tr>
                              </tbody></table>