
// Body
$body-bg: #201b16;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: transparent;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #ccaa77;
$link-color: #bc8f4b;
$link-hover-color: #FFA23E;

// Navbar
$navbar-height: 51px;
$navbar-default-bg: transparent;
$navbar-default-color: #ccaa77;
$navbar-default-link-color: #fff5dd;
$navbar-default-link-hover-color: #ffb174;
$navbar-inverse-brand-color: #FFA23E;
$navbar-default-toggle-hover-bg: #fff5dd;
$navbar-default-toggle-border-color: #fff5dd;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #201b16;

// Forms
$dropdown-link-hover-bg: rgba(0, 0, 0, 0);
