@import "node_modules/compass-mixins/lib/compass/css3/images";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//JQuery Country Select
@import "node_modules/country-select-js/build/css/countrySelect";

//Overrides
@import "nav";
@import "tables";
@import "panels";
@import "buttons";
@import "progressbar";
@import "wells";
@import "inventory";
@import "searchbar";
@import "dropdown";

body {
  background: #000000 url("images/layout/body_bg.jpg") no-repeat top center;
  background-size: contain;
  //background-attachment: fixed;
  background-origin: content-box;
}

a:hover {
  text-decoration: none;
}

.container-main {
  margin-top: 10px;
  margin-bottom: 80px;
  background: rgb(1, 1, 1) url("images/layout/container_top.jpg") repeat-x top left;
  min-height: calc(99vh - 178px);

  border: 10px solid rgba(0, 0, 0, 0.75);
  outline: 1px solid rgba(81, 70, 57, 0.8);

  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  border-radius: 5px;
  padding: 10px;
}

.container-footer {
  .container {
    .row {
      padding-top: 60px;
      padding-left: 20%;
    }
  }
  background: #000000 url("images/layout/footer_bg.jpg") repeat-x top left;
  height: 125px;
  -webkit-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);

}