.btn-main {
  color: #ccaa77;
  background-color: #1f1812;
  border-color: #271f19;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
}