select.form-control {
  background-color: #1f1812;
}

select.form-control, select output {
  color: #ca7;
}

.ui-autocomplete {
  li {
    display: block;
  }
  .ui-autocomplete-category {
    font-weight: bold;
    padding: 2px;
    padding-left: 6px;
  }
  .ui-menu-item-wrapper {
    cursor: pointer;
  }
}