.inventory
{
  z-index: 0;
  width: 177px;
  height: 281px;
  background-repeat: no-repeat;
  background-image: url('images/inventory/inventory.gif');
  border-spacing: 0px;
  padding: 14px 9px 9px 12px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

table.inventory tr
{
  height: 45px;
  padding: 25px;
  margin: 0;
}

table.inventory td
{
  margin: 0;
  text-align: center;
  padding: 0;
}

.inventory-bag
{
  z-index: 0;
  width: 330px;
  height: 188px;
  background-repeat: no-repeat;
  background-image: url('images/inventory/inventory_2.jpg');
  border-spacing: 0px;
  padding: 0px 0px 2px 0px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

table.inventory-bag tr
{
  height: 43px;
  padding: 23px;
  margin: 0;
}

table.inventory-bag td
{
  margin: 0;
  text-align: center;
  padding-bottom: 2px;
  padding-top: 2px;
}


.mapPoint {
  position: relative;
  width: 16px;
  height: 16px;
  background: url('images/inventory/arrow.gif');
}

#noItem
{
  padding-left: 45px;
  padding-bottom: 0px;
}

.itemInfo
{
  display: none;
  padding: 5px;
  opacity: 0.9;
  width: 200px;
  color: #F2F2F2;
  background: #000000;
  z-index: 999;
}

#itemType-0
{
  color: #c87cc7;
}

#itemType-1
{
  color: #8080ff;
}

#itemType-2
{
  color: #ffff00;
}

#itemType-3
{
  color: #80ff00;
}

#itemType-4
{
  color: #dcc77c;
}

#itemType-5
{
  color: #FF33FF;
}

#itemType-6
{
  color: #FFFFFF;
}

#itemBonuses
{
  color: #80ff00;
}