.navbar-top {
  background-image: url("images/layout/top_nav_back.jpg");
  height: 36px;
  -webkit-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.75);
  .container {
    height: 36px;
    li {
      a {
        &:hover {
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
        display: inline-block;
        margin-right: 10px;
        margin-top: 5px;
      }
    }

    .navbar-brand {
      height: 36px;
      padding: 8px 15px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .container {
      background-image: url("images/layout/top_bottom_nav_back.jpg");
      border-radius: 0px 0px 20px 20px;
    }
  }

  /* Customize the navbar links to be fill the entire space of the .navbar */

  ul.navbar-nav {
    width: 100%;
  }
  li.dropdown {
    width: 16.5%;
    text-align: center;
  }
  .dropdown-menu {
    min-width: 225px;
    left: -15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85)
  }
}

@media (max-width: 768px) {
  .navbar {
    .container {
      height: 51px;
      .navbar-header {
        background-image: url("images/layout/top_bottom_nav_back.jpg");
        display: inline-block;
        width: 100vw;
        height: 51px;
        margin-top: -10px;
      }
      .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.85)
      }
    }
  }
}

.dropdown-menu {
  li > a {
    color: #fff5dd;
  }
  li > a:hover {
    color: #ffb174;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffb174;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}

.nav:before, .nav:after {
  display: none;
}