.panel-default {
  margin-top: 30px;
  .panel-heading {
    font-family: 'Libre Baskerville', serif;
    background: rgb(1, 1, 1) url("images/layout/main_content_top.png") repeat-x top left;
    font-size: 1.5em;
    font-weight: bold;
    color: #bc8f46;
  }
  .panel-body {
    background: rgb(1, 1, 1) url("images/layout/main_content_back.jpg");
    background-size: 100%;
  }
}