.progress-main {
  padding-top: 10px;
}

.progress {
  border-radius: 0px;
  background-color: rgba(8, 8, 8, 0.8);

  .progress-bar-danger {
    background-color: rgba(80, 19, 10, 0.8);
  }

  .progress-bar-info {
    background-color: rgba(23, 31, 80, 0.81);
  }
}