#custom-search-input{
  padding: 3px;
  border: solid 1px #ccaa77;
  border-radius: 6px;
  background-color: rgba(25, 25, 25, 0.31);
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
  color: #FFF;
  background-color: rgba(25, 25, 25, 0.31);
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccaa77;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccaa77;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.country-name {
  color: #0c0a08;
}