.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 1px solid rgba(20, 20, 20, 0.3);
}

.table-character thead tr td h4 {
    text-transform: capitalize;
}

.table-character tbody tr td {
  font-size: 1.0em !important;
}

.table {
  background-color: rgba(14, 12, 3, 0.4);
  thead {
    tr {
      td {
        //padding: 5px;
      }
    }
    tr:nth-of-type(even) {
      td {
        background: transparent;
        padding: 0px;
      }
    }
    text-align: center;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;

    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#070602+0,0c0b03+100
    background-color: #070602; // Old browsers
    @include filter-gradient(#070602, #0c0b03, vertical); // IE6-9
    @include background-image(linear-gradient(top, #070602 0%,#0c0b03 100%));
  }
  tbody {
    tr {
      td {
        font-size: 0.75em;
        color: #ccaa77;
        a {
          color: #ccaa77;
        }
      }
    }
  }
}

.table-eventschedule {
  .schedule-weekday, .schedule-time {

  }
  .FT {
    color: #c30ced;
  }
  .CR {
    color: #b3850d;
  }
  .BDW {
    color: #504dd8;
  }
  .CSW {
    color: #cc1b2e;
  }
  .LW {
    color: #66cc31;
  }
  .DM {
    color: #afafaf;
  }
  .JR {
    color: #d73b86;
  }
  .BF {
    color: #e2d151;
  }
  tr {
    td {
      background-color: #150f0d;
      text-align: center;
    }
  }
}

.table-striped {
  tbody {
    tr:nth-of-type(odd) {
      background-color: rgba(28, 24, 7, 0.50);
    }
  }
}

#SubRankingsTabs {
  padding-left: 0px;
  padding-right: 0px;
  .nav-tabs {
    li a {
      &:hover {
        margin-top: 0px;
      }
      line-height: 1;
      margin-top: 0px;
    }
  }
}

#RankingsTabs {
  .nav {
    padding-left: 15px;
  }
  .nav-tabs {
    border-bottom: none;
    li {
      a {
        border: none;
      }
    }
    a {
      &:hover {
        color: #bc8f4b;
        border: none transparent;
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 2px;
      }
      color: #bc8f4b;
      font-weight: bold;
      margin-top: 2px;
    }
    .active{
      a {
        &:hover {
          color: #b0590c;
          border: none;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:focus {
          color: #b0590c;
          border: none;
          background-color: rgba(0, 0, 0, 0.3);
        }
        color: #b0590c;
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.notice_board {
  padding-left: 2px;
  padding-right: 2px;
  min-height: 356px;

  .nav-tabs {
    border-bottom: none;
    padding-bottom: 40px;
    a {
      &:hover {
        border: none transparent;
        background-color: rgba(0, 0, 0, 0.3);
      }
      color: #967C68;
      font-weight: bold;
      margin-top: 2px;
    }
    .active{
      a {
        &:focus {
          color: #967C68;
          border: none;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover {
          color: #967C68;
          border: none;
          background-color: rgba(0, 0, 0, 0.3);
        }
        color: #967C68;
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .notice_board {
    background: url('images/layout/notice_board_bg.png') no-repeat;
    width: 523px;
    height: 336px;
    position: relative;
    margin: 0 auto;
  }
}

@media (max-width: $screen-md-max) {
  @media (min-width: $screen-sm-min) {
    .notice_board {
      background: url('images/layout/notice_board_bg_md.png') no-repeat;
      width: 463px;
      height: 336px;
      position: relative;
      margin: 0 auto;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .notice_board {
    background: url('images/layout/notice_board_bg_md.png') repeat-x;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
}

.tooltip-inner { white-space: pre-line; }