.well-main {
  background-color: #1d1512;
  border: 1px solid #281d0f;
  a {
    color: #ffdda8 !important;
  }
  ul {
    li {
      background: none;
      border: none;
    }
  }
}

.well-download{
  background-color: rgba(28, 28, 28, 0.53);
  border: 1px solid rgba(12, 12, 12, 0.55);
  font-size: 20px;
  a {
    line-height: 40px;
  }
}

.well-search{
  background-color: rgba(12, 10, 8, 0.69);
  border: 1px solid #1c1c1c;
}

.well-news {
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1512;
  border: 1px solid #281d0f;
  &:hover {
    cursor: pointer;
  }
  .well-news-title {
    .well-news-title-date {
      font-size: 18px;
      text-transform: none;
      white-space: nowrap;
      padding-left: 15px;
    }
    color: #afa288;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .well-news-text {
    text-shadow: 0 0 14px rgba(0,0,0,.4), 1px 1px 0 rgba(0,0,0,.4);
    color: #867f72;
    font-size: 16px;
  }
}