/* CSS Document */

@font-face {
    font-family: 'klavika_mediumregular';
    src: url('fonts/klavika_medium-webfont.eot');
    src: url('fonts/klavika_medium-webfont.eot@#iefix') format('embedded-opentype'),
         url('fonts/klavika_medium-webfont.woff') format('woff'),
         url('fonts/klavika_medium-webfont.ttf') format('truetype'),
         url('fonts/klavika_medium-webfont.svg#klavika_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'Conv_ALGER';
	src: url('fonts/ALGER.eot');
    src: url('fonts/ALGER.eot@#iefix') format('embedded-opentype'),
         url('fonts/ALGER.woff') format('woff'),
         url('fonts/ALGER.ttf') format('truetype'),
         url('fonts/ALGER.svg#klavika_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
	margin:0px;
	padding:0px;
}
body 
{
   background:url(../images/body_bg.png) no-repeat center -1px #000;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
}
h1, h2, h3, h4, h5, h6
{

}
ul, li, ol 
{
	list-style: none;
}
a
{
	text-decoration: none;
}
img
{
	border: 0;
}
.clr
{
	clear: both;
}
.relative
{
    position:relative;
}
.wrapper
{
	width: 960px;
	margin: 0 auto;
}
#header
{
background:url(../images/header_bg1.png) no-repeat center top;height: 85px;
}
/* guide */
.section.guide{font-size:14px; line-height:21px;}
.section.guide h4{margin-bottom:10px; color: #f0af42}
.section.guide h5{margin:20px 0 5px 0; color:#725238; font-size:14px;}
.section.guide h5 strong{color:#BD8255;}
.section.guide h6{margin:15px 0 5px 0; color:#8D8D8D; font-size:14px;}
.section.guide p{margin:5px 0 25px 0;}
.section.guide .imgBlock img{display:block; margin:5px 0;}
.section.guide .imgInline{overflow:hidden; _zoom:1;}
.section.guide .imgInline img{float:left; margin:0 15px 0 0;}
.section.guide .imgLeft{overflow:hidden; _zoom:1;}
.section.guide .imgLeft img{float:left; margin:0 25px 0 0;}
.section.guide .imgLeft em{font-style:normal; color:#FF6363;}
.section.guide .imgLeft span.vod{float:left; margin:0 25px 0 0; width:213px; height:139px; background:#4D4D4D;}
.section.guide .imgEtc ol.common{position:relative; float:right; margin:-280px 0 0 0; width:400px;}
.section.guide ol.common,
.section.guide ul.common{margin:5px 0 0 0;}
.section.guide ol.common li,
.section.guide ul.common li{margin:0 0 7px 0;}
.section.guide ol.circle li,
.section.guide ul.circle li{padding:0 0 0 18px; text-indent:-18px;}
.section.guide ol.hyphen li{padding:0 0 0 22px; text-indent:-22px;}
.section.guide ol.number li{padding:0 0 0 13px; text-indent:-13px;}
.section.guide ol.number li li{padding:0; text-indent:0;}
.section.guide ol.common ul{margin:3px 0 0 5px;}
.section.guide ol.common ul li{margin:0;}
.section.guide ol.common li.map img{display:block; margin:10px 0;}
.section.guide ol.imgBlock li{margin:0 0 15px 0;}
.section.guide ol.imgBlock li ul{margin:5px 0 0 15px;}
.section.guide ol.imgBlock li li{margin:0 0 5px 10px; text-indent:-10px;}
.section.guide ol ol.imgBlock{margin:10px 0 0 0;}
.section.guide ul.dot li{padding:0 0 0 15px; text-indent:-15px;}
/* guide 20111013 */
.text_features_b {font-style:normal;color:#b17f54;font-size:14px;font-weight:bold;}
.text_features {font-style:normal;color:#b17f54;font-size:14px;}
.text_gray {font-style:normal;color:#c0bdbb;font-size:14px;}
.features_cont {font-style:normal;width:672px;height:600px;position:relative;}
.features_img {width:249px;height:220px;position:absolute;}
.features_txt {width:406px;height:220px;position:absolute;color: #f3d59a}
#select{width:300px;height:19px;position:absolute;color:#626262;background:#232323;left: 140px;top: 257px;}
.select {width:300px;height:19px;font-size:12px; color:#626262;background:#232323;font-family:dotum,Dotum,lucida grande,tahoma,verdana,arial,sans-serif;border:1px solid #484848}

.rules
{
	font-size: 12px;
}
.td_right
{
	border-right: 1px solid #232323;
}

.item
{
	float: left;
	margin: 10px 10px 30px;
}

.item .count
{
	font-size: 10px;
	margin-top: -12px;
	color: #ffffff;
	text-align: right;
}

.item .button
{
	margin-top: -40px;
	margin-left: 28px;
}

.bank_1
{
	float: left;
	height: 25px;
	margin-top: 25px;
	margin-right: 10px;
	
}

.bank_2
{
	font-size: 11px;
	margin-top: 10px;
}

.bank_u1
{
	float: left;
	height: 15px;
	margin-top: 17px;
	margin-right: 10px;
	
}

.bank_u2
{
	font-size: 11px;
	margin-top: 10px;
}

.guide2
{
	
	color: #ffffe1;
}
.guide2 h4{margin-bottom:10px; color: #f0af42}
.guide2 h5{color:#BD8255;font-size: 12px;}
.guide2 p{margin:5px 0 25px 0;}

/* Update 20120525 */
.text_features_b a{color:#b17f54;}
.text_features_b a:link{color:#b17f54;}
.text_features_b a:visited{color:#b17f54;text-decoration:none;}
.text_features_b a:hover{color:#b17f54;text-decoration:underline;}

.term_label a{color:#b17f54;}

.bank{float: left;width:550px;font-family: tahoma;font-size:14px;margin-bottom: 10px;border-bottom-width: 2px;border-bottom-color: #5f4b07;border-bottom-style: solid;padding-bottom: 10px}
.bank_last{float: left;width:550px;font-family: tahoma;font-size:14px;margin-bottom: 30px;}
.bank p{margin-bottom: 5px}
.bank_logo{float: left;width:90px;margin-right: 5px;}
.bank_last p{margin-bottom: 5px}
.bank_col1{float: left; width:150px;color: #f3ee85;}
.bank_col2{float: left; width:300px;}

.menu{}
.menu ul{}
.menu ul li
{
    background: url("../images/menu_li_bg.png") no-repeat scroll 0 45px transparent;
    float: left;
    line-height: 130px;
	font-family: 'klavika_mediumregular';
	text-transform: uppercase;
	width:106px;
	text-align: center;
}
.menu ul li a
{
    color: #ffe3ca;
    padding: 10px 14px;
}
.menu ul li a:hover
{
	color: #ffa54a;
}
.menu ul li.first
{
	width: 120px;
	text-align: center;
	padding-left: 45px;
    background:none;
}
.menu ul li.logo_bg
{
    background:none;
	width:205px;
	height:85px;
}
.menu ul li.logo_bg a.logo_padd
{
    padding:0;	width:220px;float:left;
}
.menu ul li.clan a.padd_r
{
    padding-right:2px;
}
.menu ul li.downloads
{
    background:none;
}

.download
{
	background: rgba(228, 224, 167, 0.1);
	width: 310px;
	float: left;
	height: 150px;
	margin: 5px 5px;
}
.download_logo img
{
	float: left;
	width: 80px;
	height:30px;
	margin:5px 15px 0px;
}
.download_title
{
	text-align: center;
	font-family: 'klavika_mediumregular';
	color: #e7e48b;
	text-transform: uppercase;
	margin: 10px 10px 10px;
	background: rgba(44, 26, 12, 0.4);
	padding: 2px;
}

.download_button
{
	float: right;
	text-align: right;
	margin: -5px 5px;
}

.download_txt
{
	font-family: 'klavika_mediumregular';
	text-transform: capitalize;
	height: 80px;
	color: #f9f2c8;
}

.body
{
    /*margin-top:102px;*/
}
.title
{
    text-align: center;
}

.container{background:url(../images/container_bg.png)no-repeat #000; height: 731px;
             }
			 
#tickets_back	{background:url(../images/my_tickets_back.png)no-repeat #000; height: 731px;
             }		 
.wrap
{
    width:904px;
    margin:0 auto;
	 padding-top: 50px;
}
.container .left_sidebar
{
    width:170px;
	float: left;
	margin-right: 14px;
}
.container .left_sidebar .login_box{
}
.container .left_sidebar .login_box input{
	border:0px;
	font-size:11px;
	color:#ccaa77;
	padding:1px 10px 22px 25px;
	width:132px;
	height:25px;
	line-height:25px;
	font-family: 'klavika_mediumregular';
	
}
.container .left_sidebar .login_box .username{
	background:url(../images/input_user_bg.png) no-repeat;
}
.container .left_sidebar .login_box .password{
	background:url(../images/input_pass_bg.png) no-repeat;
}
.container .left_sidebar .icon
{
    position:absolute;
    top: 8px;
    left:7px;
}
.container .left_sidebar .input
{
    background: url("../images/input_bg.png") no-repeat scroll 0 0 transparent;
    border: 0 solid #2B190D;
    color: #CCAA77;
    font-size: 11px;
    height: 12px;
    margin-bottom: 23px;
    padding: 7px 0 7px 24px;
    text-transform: uppercase;
    width: 168px;
}
.container .left_sidebar .login_btn a
{
    background:url(../images/login_btn.png) no-repeat;
	float:left;
    height: 38px;
    width: 167px;
	font-size:18px;
	line-height: 38px;
    text-align: center;
	text-transform:uppercase;
	margin-bottom: 15px;
}
.container .left_sidebar .login_btn a:hover{background:url(../images/login_btn_hover.png) no-repeat;}

.reg_btn a
{
    background:url(../images/register_btn.png) no-repeat;
	float:left;
    height: 38px;
    width: 167px;
	font-size:18px;
	line-height: 38px;
    text-align: center;
	text-transform:uppercase;
	margin-bottom: 10px;
}
.reg_btn a:hover
{
	background:url(../images/register_btn_hover.png) no-repeat;
}

.container .left_sidebar .forget
{float:left;

}
.container .left_sidebar .forget ul
{
    margin-left:10px;
}
.container .left_sidebar .forget ul li
{
    background: url("../images/forget_li_bg.png") no-repeat scroll 0 4px transparent;
    padding-left: 9px;
	margin-bottom: 15px;
}
.container .left_sidebar .forget ul li ul
{
    margin-top:10px;
}
.container .left_sidebar .forget ul li ul li
{
    background: url("../images/sub_li_bg.png") no-repeat scroll 0 4px transparent;
    padding-left: 9px;
	margin-bottom: 15px;
}


.cp_button2
{
	background: rgba(228, 224, 167, 0.1);
	margin-left: 10px;
	cursor: pointer;
	width:250px;
	height: 70px;
	margin-bottom: 20px;
	float: left;
}

.cp_button2:hover
{
	background: rgba(228, 224, 167, 0.4);
	margin-left: 10px;
	cursor: pointer;
}

.cp_button2_img
{
	float: left;
}

.cp_button2 img
{
	width: 50px;
	height: 50px;
	margin: 10px 10px 5px;
}

.cp_button2_txt
{
	text-align: right;
	font-family: 'klavika_mediumregular';
	color: #e7e48b;
	text-transform: capitalize;
	margin-bottom: 5px;
	padding-top: 50px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


.cp_button
{
	background: rgba(228, 224, 167, 0.1);
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.cp_button:hover
{
	background: rgba(228, 224, 167, 0.4);
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.cp_button img
{
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px;
}

.cp_button_txt
{
	text-align: center;
	font-family: 'klavika_mediumregular';
	color: #e7e48b;
	text-transform: capitalize;
	margin-bottom: 5px;
}
fieldset 
{ 
	padding: 15px 50px 30px;
	border:1px solid #623d13;
	width: 400px;
}

legend {
	background: url("../images/sub_li_bg.png") no-repeat scroll 0 4px transparent;
  	padding: 0.2px 0.5em;
  	border:1px solid #623d13;
  	color:#f3dbc0;
  	font-size:90%;
  	text-align:left;
	font-family: 'klavika_mediumregular';
	color: #e7e48b;
	text-transform: capitalize;  
  }

.container .left_sidebar #forget2 ul li{margin-bottom:10px;}


.container .left_sidebar .forget ul li a
{
    font-size:11px;
	color:#614b34; 
}

.container .left_sidebar .forget ul li a:hover{text-decoration:underline;}
.container .left_sidebar .begin_guide a
{
    background:url(../images/beginer_btn.png) no-repeat;
	float:left;
    text-align: center;
	width:167px;
	height:86px;
}
.container .left_sidebar .begin_guide a:hover
{
    background:url(../images/beginer_btn_hover.png) no-repeat;
}
.container .left_sidebar .facebook
{
    background:url(../images/facebook_bg.png) no-repeat #110c08;
	border:1px solid #1e150e;
	border-radius:3px;
	margin-top:20px;
}
.container .left_sidebar .facebook .wrap1{width:156px;margin:-2px -6px;}
.sidebar_title
{
    color: #CC9A75;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    font-family: 'klavika_mediumregular';
	text-transform:uppercase;
	font-weight:normal;
}
.container .left_sidebar .facebook .began_yourko
{
    margin-top: 32px;
	margin-bottom: 8px;
	border-bottom:1px solid #d8dfea;
	padding-bottom:10px;
}
.container .left_sidebar .facebook .icon_img
{
    float: left;
    margin-right: 5px;
}
.container .left_sidebar .facebook .net
{
    color: #FFFFFF;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.container .left_sidebar .facebook .facebook_image{}
.container .mid_section
{
    float: left;
}
.container .mid_section .slider
{
    background:url(../images/slider_bg.png) no-repeat;
	height: 298px;
    width: 538px;
	margin-bottom: 25px;
}
.container .mid_section .slider img
{
    margin-left: 8px;
    margin-top: 4px;
}
.container .mid_section .paginate{position:relative;}
.container .mid_section .paginate .left_arrow{position:absolute;left: 13px;
    top: 124px;}
.container .mid_section .paginate .right_arrow{position:absolute;  left: 487px;
    position: absolute;
    top: 124px;}
.container .mid_section .notice_board{background:url(../images/notice_board_bg.png) no-repeat;width:523px;height:336px; position:relative; margin:0 auto;}
.container .mid_section .notice_board .nav{ height:57px; overflow:hidden;}
.container .mid_section .notice_board .nav ul{}
.container .mid_section .notice_board .nav ul li{float:left;line-height:55px;margin-top: 1px; margin-left: 1px;}
.container .mid_section .notice_board .nav ul li.active, .container .mid_section .notice_board .nav ul li:hover{background:url(../images/notice_li_active_bg.png) repeat;}
.container .mid_section .notice_board .nav ul li a{color: #967C68;
    font-size: 14px;
    padding: 25px;
	font-family: 'klavika_mediumregular';
	text-transform:uppercase;
}
.container .mid_section .notice_board .nav ul li a:hover{}
.container .mid_section .notice_board .tab_content{ display:none;}
.container .mid_section .notice_board .notice{margin-top: 11px;padding-bottom:12px; overflow:hidden;}
.container .mid_section .notice_board .notice{margin-top: 11px;padding-bottom:12px;}
.container .mid_section .notice_board .notice .left_part{float: left;
    padding-left: 8px;}
.container .mid_section .notice_board .notice .left_part .notice_text{background: url("../images/notice_text_bg.png") no-repeat scroll 0 4px transparent;
    color: #816653;
    padding-left: 10px;}
.container .mid_section .notice_board .notice .left_part .notice_text .notice_ttl{color: #D6A447;
    margin-right: 5px;}
.container .mid_section .notice_board .notice .left_part .notice_text .update_ttl{color: #73999e;
    margin-right: 5px;}
.container .mid_section .notice_board .notice .left_part .notice_text .event_ttl{color: #6e8153;
    margin-right: 5px;}	
.container .mid_section .notice_board .notice .left_part .notice_text a{color: #816653;
    margin-right: 5px;}	
.container .mid_section .notice_board .notice .right_part{float:right;padding-right:20px;}
.container .mid_section .notice_board .notice .right_part .time{color:#4a3a2e;}
.container .mid_section .notice_board .arrows{bottom: 20px;
    left: 20px;
    position: absolute;}
.container .mid_section .notice_board .arrows .left_round_arrow{}
.container .mid_section .notice_board .arrows .right_round_arrow{}
.container .mid_section .notice_board .hepsi_button{
	border: 0 none;
    bottom: 24px;
    position: absolute;
    right: 21px;
}


.container .mid_section .themis_section{
	height:427px;
	width:521px;
	margin:0 auto;
	border:1px solid #5f4936;
	border-radius:1px;
	position:relative;
	margin-bottom:30px;
}
.container .mid_section .themis_section .top_arrow{
}
.container .mid_section .themis_section .toggle_container{
	padding:10px;
}
.container .mid_section .themis_section .toggle_container ul{
}
.container .mid_section .themis_section .toggle_container ul li{
	position:relative;
	height:27px;
	
	
	cursor:pointer;
}
.container .mid_section .themis_section .toggle_container ul li .lft_icon{
	position:absolute;
	top:7px;
	left:9px;
}
.container .mid_section .themis_section .toggle_container ul li .arrow{
	position:absolute;
	top:10px;
	right:11px;
}
.container .mid_section .themis_section .toggle_container ul li .text{
	padding-left:26px;
	line-height:27px;
	color:#61452f;
	font-family: 'klavika_mediumregular';
	text-transform:uppercase;
	font-size:12px;
}
.container .mid_section .themis_section .tabs{
	background:#060504;
	border-bottom:1px solid #18130f;
	border-top:1px solid #2b2118;
	height:29px;
}
.container .mid_section .themis_section .tabs ul{
}
.container .mid_section .themis_section .tabs ul li{
	border-right:1px solid #18130f;
	line-height:29px;
	font-size:12px;
	float:left;
	text-transform:uppercase;
}
.container .mid_section .themis_section .tabs ul li a{
	color:#5e4633;
	padding:0 18px;
	display:block;
	font-family: 'klavika_mediumregular';
	text-transform:uppercase;
}
.container .mid_section .themis_section .tabs ul li.active a, .container .mid_section .themis_section .tabs ul li:hover a{
	color:#cfaf98;
}
.container .mid_section .themis_section .user_tab{
	height:29px;
}
.container .mid_section .themis_section .user_tab .tabs{
	background:url(../images/user_tabs_bg.png) repeat-x;
	width:50%;
	float:left;
	text-align:center;
	line-height:29px;
}
.container .mid_section .themis_section .user_tab .tabs.active{
	background:url(../images/user_tabs_active_bg.png) repeat-x;
}
.container .mid_section .themis_section .user_tab .tabs a{
	color:#3b3b3b;
	display:block;
	font-size:14px;
	line-height:29px;
	text-align:center;
	font-family: 'klavika_mediumregular';
	text-transform:uppercase;
}
.container .mid_section .themis_section .user_tab .tabs.active a{
	color:#cfaf98;
}
.container .mid_section .themis_section .user_tab .tabs a img{
	vertical-align:middle;
}
.container .mid_section .themis_section .themis_tab_content{
	display:none;
}
.container .mid_section .themis_section .grid_table{
}
.container .mid_section .themis_section .grid_table table{
	float:left;
	width:100%;
}
.container .mid_section .themis_section .grid_table table tr{
}
.container .mid_section .themis_section .grid_table table tr th{
	padding-top:10px;
	line-height:24px;
	font-weight:normal;
	color:#1b1712;
	border-bottom:1px solid #18130f;
}
.container .mid_section .themis_section .grid_table table tr td{
	height:25px;
	vertical-align:middle;
	color:#816653;
}
.container .mid_section .themis_section .grid_table table tr td.digit{
	text-align:center;
	color:#181410;
	width:30px;
}
.container .mid_section .themis_section .grid_table table tr td.check{
	text-align:center;
	width:16px;
}
.container .mid_section .themis_section .grid_table table tr td.check .check_icon img{
	background:#010101;
	border:1px solid #0c0a08;
	width:14px;
	height:14px;
}
.container .mid_section .themis_section .grid_table table tr td.name{
	text-align:left;
	width:250px;
	padding-left:10px;
}
.container .mid_section .themis_section .grid_table table tr td.level{
	text-align:center;
	width:45px;
}
.container .mid_section .themis_section .grid_table table tr .points{
	text-align:right;
	padding-right:10px;
}
.container .mid_section .themis_section .grid_table table tr.bg td{
	background:#060403;
}
.container .mid_section .themis_section .bottom_arrows{
	position:absolute;
	left:20px;
	bottom:-15px;
}
.container .mid_section .themis_section .hepsi_button{
	border: 0 none;
    bottom: -11px;
    position: absolute;
    right: 21px;
}
		


.container .mid_section .notice_board .divider {
    margin-top: 0;
}
.container .right_sidebar
{
    float:right;
	width:170px;
}

.container .right_sidebar .clan_rank_btn a{background: url("../images/right_sidebar_btns2.png") repeat scroll 0 -173px transparent;
    float: left;
    height: 86px;
    width: 167px;
	margin-bottom: 17px;}
.container .right_sidebar .clan_rank_btn a:hover{background: url("../images/right_sidebar_btns2.png") repeat scroll -167px -173px transparent;
}
.container .right_sidebar .knight_rank_btn a{background: url("../images/right_sidebar_btns2.png") repeat scroll 0 0 transparent;
    float: left;
    height: 86px;
    width: 167px;
	margin-bottom: 17px;}
.container .right_sidebar .knight_rank_btn a:hover{background: url("../images/right_sidebar_btns2.png") repeat scroll -167px 0 transparent;
    float: left;
    height: 86px;
    width: 167px;}

.container .right_sidebar .forum_btn a{background: url("../images/right_sidebar_btns.png") repeat scroll 0 -173px transparent;
    float: left;
    height: 86px;
    width: 167px;
	margin-bottom: 17px;}
.container .right_sidebar .forum_btn a:hover{background: url("../images/right_sidebar_btns.png") repeat scroll -167px -173px transparent;
}
.container .right_sidebar .character_btn a{background: url("../images/right_sidebar_btns.png") repeat scroll 0 0 transparent;
    float: left;
    height: 86px;
    width: 167px;
	margin-bottom: 17px;}
.container .right_sidebar .character_btn a:hover{background: url("../images/right_sidebar_btns.png") repeat scroll -167px 0 transparent;
    float: left;
    height: 86px;
    width: 167px;}
.container .right_sidebar .support_btn a{background: url("../images/right_sidebar_btns.png") repeat scroll 0 -85px transparent;
    float: left;
    height: 86px;
    width: 167px;}
.container .right_sidebar .support_btn a:hover{background: url("../images/right_sidebar_btns.png") repeat scroll -167px -85px transparent;
    float: left;
    height: 86px;
    width: 167px;}

.container .right_sidebar .poll{background:url(../images/facebook_bg.png) no-repeat #060503;overflow: hidden;margin-top: 28px;border: 1px solid #1E150E;padding-bottom: 10px;
    border-radius: 3px 3px 3px 3px;}
.container .right_sidebar .poll .wrap2{width:132px;margin:0 auto;}
.container .right_sidebar .poll .poll_text{color:#664d3b;font-size:12px;text-align: center;margin-bottom: 18px;
    margin-top: 38px;}
.container .right_sidebar .poll .poll_btns a{background:url(../images/poll_btns.png) no-repeat;width:134px;height:31px;float:left;color:#d0854f;line-height: 31px;text-align:center;  margin-bottom: 7px}
.container .right_sidebar .poll .poll_btns a:hover{}

.your_button a{background:url(../images/poll_btns.png) no-repeat;width:134px;height:31px;float:left;color:#d0854f;line-height: 31px;text-align:center;  margin-bottom: 7px; font-weight: bold; }
.your_button a:hover{}

.result {text-align:center;}
.result a{text-decoration: underline;
    text-transform: uppercase;color:#34251a;font-size:10px;}

.footer{background:url(../images/footer_bg.png) no-repeat center top;height: 227px;}
.footer_section{padding-top: 95px;
    }
.footer .site_logo{float: left;;margin-right:32px;
}
.footer .footer_menu{padding-top:15px;}
.footer .footer_menu .foot_menu{float: left;margin-bottom: 10px;width:712px;border-bottom-width: 1px;border-bottom-color: #693d01;border-bottom-style: solid;padding-bottom:5px;}
.footer .footer_menu .foot_menu ul{}
.footer .footer_menu .foot_menu ul li{float:left;margin-right: 25px;}
.footer .footer_menu .foot_menu ul li a{color:#a7813b;font-size:11px;}
.footer .footer_menu .foot_menu ul li a:hover{ text-decoration:underline;}
.footer .footer_menu .copy_right{float: left;color:#5e4936;width:720px;}
.avci_btn{float: left; margin-top: 24px;}

#hidden_header{ position:relative; height:154px; width:960px; margin:0px auto;}
#hidden_header_notice{ position:relative; height:154px; width:960px; margin:30px auto;}
#hidden_header h1{ position:absolute; text-align:center; width:100%; top:104px; z-index:98;}
#hidden_header_notice div{ position:absolute; text-align:left; width:900px; top:124px; z-index:98;}
#hidden_header_notice a{ color:#8f6f32; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
#hidden_header_notice a:hover{ text-decoration:underline;}

.shown_header{ background:url(../images/hidden_header.png) no-repeat; height:154px; width:840px; margin:0 auto; position:absolute; z-index:99; padding:0 60px; display:none; top:86px;margin-top: 0px;margin-left: -1px;}
.shown_header .left{ float:left;}
.shown_header .right{ float:right;}
.shown_header ul{ float:left; border-left:1px solid #1a0305; padding:15px 0 0 10px; width:95px; height:139px;}
.shown_header ul li{ line-height:24px; font-size:11px;}
.shown_header ul li a{ color:#e1a499; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;}
.shown_header ul li a:hover{ color:#bb8177;}



/*StartTicketPage*/
#main_content_back{background:url(../images/main_content_back.png) no-repeat; width:711px; height:837px;  float:left;
                   margin-left:5px;}
				   
#main_content_back2{background:url(../images/main_content_back.png) no-repeat; width:711px; height:1000px;  float:left;
                   margin-left:5px;}				   
				   
				   
#main_content_back_register{background:url(../images/regsiter_main_back.png) no-repeat; width:711px; height:837px; float:left;
                   margin-left:5px;}
				   
#main_content_back_nation{background:url(../images/nation_man_back.png) no-repeat; width:711px; height:832px; float:left;
                   margin-left:5px;}
				   
#main_content_back_online_user{background:url(../images/main_back_online_user.png) no-repeat; width:712px; height:100%; float:left;
                   margin-left:4px;}				   
				   				   
.tickets_form{float:left; padding-left:24px; padding-top:15px;}

.tickets_form h3{color:#ffde78; font-size:14px; font-family:Arial; font-weight:bold;padding:5px;}

.enter_tick_form{float:left; margin-top:60px; font-size:15px; color:#a1866b;}
.enter_tick_form2{float:left; margin-top:15px; font-size:15px; color:#a1866b;}
.text_box_tick{background:url(../images/text_box_tickets.png) no-repeat; width:255px; padding-left:4px; padding-right:4px; height:36px; line-height:36px;
               color:#ffcf7b; font-size:15px; border:none;}

.esn0{background:url(../images/text_box_tickets.png) no-repeat; width:80px; padding-left:4px; padding-right:4px; height:36px; line-height:36px;
               color:#ffcf7b; font-size:15px; border:none;}
 .esn1{background:url(../images/text_box_tickets.png) no-repeat; width:40px; padding-left:4px; padding-right:4px; height:36px; line-height:36px;
               color:#ffcf7b; font-size:15px; border:none;}

.main_row_div{float:left; width:671px; margin-top:20px;}
.main_row_div2{float:left; width:671px; margin-top:10px;}
.form_error
{
	float:left;background:url(../images/text_are_box.png) no-repeat;width:541px;color: #ffcf7b;line-height:25px;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('../images/m_validation.png');
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/m_info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/m_success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/m_warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/m_error.png');
}

#char_info{
	width:665px;
	height:665px;
	margin: 0px auto;
	float:left;
}

#char-b1{
	width:330px;
	height:665px;
	margin: 0px auto;
	float:left;
}

#char-b1-bg{
	background-image: url('../images/bg2.png');
	width:311px;
	height:439px;
	margin-top:20px;
}
#char-b2-bg{
	background-image: url('../images/bg1.png');
	width:311px;
	height:439px;
	margin-top:20px;
}

.char_img{
	width: 250px;
    left: 45px; 
    margin-top:10px;
    margin-left:15px;
	float:left;
}

#char_info_txt{
	width: 250px;
    left: 45px; 
    margin-top:50px;
    margin-left:30px;
	float:left;
}

.char_info_row1{
	background: rgba(228, 224, 167, 0.1);
	text-align: center;
	color: #997340;
	font-weight: bold;
	margin: 5px auto;
	padding: 2px;
	border-style: dotted;
	border-width: 1px;
}
.char_info_row2{
	background: rgba(228, 224, 167, 0.02);
	text-align: center;
	color: #c8a77b;
	font-weight: bold;
	margin: 5px auto;
	padding: 1px;
}
.char_info_col{
	float: left;
	text-align: center;
}
.char_info_r1{
	background: rgba(228, 224, 167, 0.1);
	text-align: center;
	color: #997340;
	font-weight: bold;
	margin: 5px auto;
	padding: 2px;
	border-style: dotted;
	border-width: 1px;
	width:53px;
}
.char_info_r2{
	background: rgba(228, 224, 167, 0.02);
	text-align: center;
	color: #c8a77b;
	font-weight: bold;
	margin: 5px;
	padding: 2px;
	border-style: dotted;
	border-width: 1px;
	width:50px;
}

.war_server{
	vertical-align:middle;
	width:650px;
	text-align: center;
}

.form_info{float:left;background:url(../images/text_are_box.png) no-repeat;width:541px;color: #ffcf7b;line-height:25px;}
.lable_text{float:left; width:130px; line-height:36px;}
.text_box_2{float:left; width:541px;}
.text_are_box{background:url(../images/text_are_box.png) no-repeat; width:494px; height:107px;
              padding:5px; border:none; color:#ffcf7b; font-size:15px; text-align:left;
			  font-family:Arial, Helvetica, sans-serif;} 


.main_cp_user{float:left;  padding-left:20px;}
.welcom_text{color:11px; font-weight:normal; color:#685135; float:left; margin-top:0px;}
.welcom_text span{font-size:12px; color:#ccaa77;}
.back_id_div{font-size:11px; font-weight:normal; color:#92744a; background:#392a18; width:60px; height:17px; margin-top:10px;
             line-height:17px; padding-left:5px; margin-left:5px;}
.king_title1{padding-top:5px;}

.king_title1{padding-top:5px;}{padding-top:5px;}	
.bull_12{padding-top:20px; padding-bottom:2px;}		 

/*EndTicketPage*/

/*StartUser*/
.main_content_user{float:left; margin-top:40px; font-size:15px; color:#a1866b; 
                   font-family: 'Conv_ALGER'; color:#594734; }
.online_content_user{float:left; width:400px;}

.right_player_img{float:right; width:240px; text-align:center; margin-left:15px; font-size:18px; color:#301b0c;}

.right_player_img p{margin-top:10px; text-align:center;}

.top_div_with_online{float:left;}

.left_icon_with_racumin{float:left; width:280px;}
.online_main{float:right; text-align:center; background:url(../images/online_img_back.png) no-repeat; width:105px; height:36px; line-height:36px;
             font-size:18px; font-size:15px; color:#90AF00;}
			 
.user_icon2{float:left; padding-top:2px;}
.user_title1{ float:left; font-size:30px; color:#C4280A; margin-left:15px;}		

.text_user_middle{float:left; padding-left:52px; padding-top:35px; font-size:14px;}
.text_div_row{float:left; width:280px; border-bottom:1px solid #000000; margin-top:10px; padding-bottom:10px;}

.left_text_user_row{float:left; width:80px; font-size:18px; background:url(../images/doble_point.png) center right no-repeat;}
.right_text_user{float:left; color:#7e5a34; padding-left:50px; padding-top:3px;}

.second_text_user_middle{float:left;}
.title_main_stars{float:left; width:350px; padding-left:40px; padding-top:40px;}
 
 
 .text_user_middle_stars{float:left; padding-left:20px; padding-top:25px; font-size:14px;}
 
 .text_div_row_stars{float:left; width:280px; border-bottom:1px solid #0d0d0d; margin-top:10px; padding-bottom:10px;}

.left_text_user_row_stars{float:left; width:80px; font-size:18px; background:url(../images/doble_point.png) center right no-repeat;}
.right_text_user_stars{float:left; color:#7e5a34; padding-left:50px; padding-top:3px;}

.user_icons_bottom{float:left; width:600px; margin-left:52px;}
.user_icons_bottom img{float:left; margin-left:5px; width:45px; height:45px; margin-top:5px; border:none;}

.lable_text2{float:left; width:130px; line-height:18px;}
.text_box_3{float:left; width:541px; font-size:30px; font-family: 'Conv_ALGER'; color:#3b3026;}
.text_box_btn{float:left; width:541px; margin-top:20px;}

.main_nation_content{float:left; width:650px; padding-left:0px; padding-right:10px; padding-top:35px;}

.top_life_icon_name{float:left; width:670px;}
.life_red_left{float:left; width:120px; text-align:center; color:#d61a13; font-size:14px; font-family: 'Conv_ALGER';}

.life_red_left p{margin-top:10px;}
.life_validity{float:left; width:403px; padding-left:10px; padding-right:10px; padding-top:10px;}
.top_div_for_validity{float:left; width:403px;}

.for_img_lif_div{float:left; width:403px; padding-top:15px;}
.life_validy_red{float:left; width:193px; color:#d61a13; text-align:center; font-size:12px; font-weight:bold;}

.life_blud_validity{float:left; width:210px; color:#1f69bb; text-align:center; font-size:12px; font-weight:bold;}

.life_blue_left{float:left; width:120px; text-align:center; color:#1f69bb; font-size:14px; font-family: 'Conv_ALGER';}
.life_blue_left p{margin-top:10px;}

.content_nation_main{float:left; width:606px; padding-left:38px; padding-right:0px; padding-top:15px;}

.left_red_karus{float:left; width:303px; border-right:1px solid #0d0a08;}
.main_div_red_life{float:left; width:303px;}

.left_red_elmorad{float:left; width:303px;}
.nation_left_box1{float:left; width:150px; background:url(../images/duble_point_nation.png) right repeat-y; color:#403626;
                   font-size:11px;}
.nation_left_box1 p{margin-top:21px;}
.points_nomber{float:left; width:132px; padding-left:18px; font-family: 'Conv_ALGER'; font-size:12px; color:#796b57;}
.points_nomber p{margin-top:19px;}

.nation_left_box2{float:left; width:128px; background:url(../images/duble_point_nation.png) right repeat-y; 
                   font-family: 'Conv_ALGER'; font-size:12px; color:#796b57; text-align:right; padding-right:22px;}
.nation_left_box2 p{margin-top:19px;}


.points_nomber_elm_text{float:left; width:145px; font-size:11px; color:#796b57; text-align:right;}
.points_nomber_elm_text p{margin-top:21px;}

.title_nation_life_red{ color: #D61A13;
    float: left;
    font-family: 'Conv_ALGER';
    font-size: 14px;
    text-align:left;
	width:303px;
	margin-top:40px;
	margin-bottom:20px;}
	
.main_elmorad_text{float:left; width:302px;}	

.title_nation_life_blue{ color: #1f69bb;
    float: left;
    font-family: 'Conv_ALGER';
    font-size: 14px;
    
	width:295px;
	margin-top:40px;
	margin-bottom:20px;
	text-align:right;
	padding-right:5px;}
	
.emorad_won{float:left; color:#aeff00; font-size:36px; font-family: 'klavika_mediumregular'; text-align:center;
            padding-top:50px; width:664px;
            }	
			
.emorad_won p{margin-top:20px; text-align:center;}	

.payment_read{
	float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif;
                   margin-top:25px; font-size:12px;
}
.payment_col1{
	float: left;
	width: 150px;
}
.payment_col1{
	float: left;
}
.payment_row1{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	
}

.payment_row2{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
}
.payment_row3{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.03);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	width:630px;
	text-align: right;
}
.payment_read a {
font-size: 12px;
color: #836445;
font-family: Tahoma;
}
.payment_read a:hover {
text-decoration: underline;
}
.payment_row_message{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	height: 100px;
}

.ticket_read{
	float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif;
                   margin-top:25px; font-size:12px;
}
.ticket_col1{
	float: left;
	width: 100px;
}
.ticket_col1{
	float: left;
}
.ticket_row1{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	
}

.ticket_row2{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
}
.ticket_row3{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.03);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	width:630px;
	text-align: right;
}
.ticket_read a {
font-size: 12px;
color: #836445;
font-family: Tahoma;
}
.ticket_read a:hover {
text-decoration: underline;
}
.ticket_row_message{
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	background: rgba(228, 224, 167, 0.1);
	color: #e4e0a7;
	font-family: tahoma;
	font-size: 12px;
	height: 100px;
}

.support{float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;
                   margin-bottom:25px; font-size:12px;}
.support_row_menu{padding-bottom: 5px;padding-top: 15px;}

.support_row{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:#060403; line-height:30px;}				   
.support_row_light{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:none; line-height:30px;}
.support_col_line{float: left;width:50px;}
.support_col_subject{float: left;width: 300px;}
.support_col_date{float: left;width:170px;}
.support_col_state{float: left;}
.support a {
font-size: 12px;
color: #614b34;
}
.support a:hover {
text-decoration: underline;
}

.payment{float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;
                   margin-bottom:25px; font-size:12px;}
.payment_row_menu{padding-bottom: 5px;padding-top: 15px;}
.news_row_menu{background: rgba(228, 224, 167, 0.1);text-align: right; padding-bottom: 5px;padding-top: 0px; float: right; width:50%;color: #c8bfb0}

.payment_row{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:#060403; line-height:30px;}				   
.payment_row.coleader{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background: rgba(140, 0, 3, 0.4); line-height:30px;}							 
.payment_row_light{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:none; line-height:30px;}
.payment_row_light.leader{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background: rgba(2, 0, 102, 0.4); line-height:30px;}
.payment_row_light.coleader{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background: rgba(140, 0, 3, 0.4); line-height:30px;}						 
						 						 
.payment_col_line{float: left;width:50px;}
.payment_col_ptype{float: left;width: 200px;}
.payment_col_ptypea{float: left;width: 150px;}
.payment_col_paccounta{float: left;width: 150px;}

.payment_col_amount{float: left;width: 100px;}
.payment_col_date{float: left;width:170px;}
.payment_col_date2{float: left;width:75px;}
.payment_col_state{float: left;}
.payment a {
font-size: 12px;
color: #ae8b68;
text-transform: capitalize;
}
.payment a:hover {
text-decoration: underline;
}

.news_row{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:#060403; line-height:30px;}				   
.news_row_light{float:left; width:650px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:none; line-height:30px;}
.news_col_line{float: left;width:50px;}
.news_col_owner{float: left;width: 100px;}
.news_col_type{float: left;width: 100px;}
.news_col_subject{float: left;width: 300px;}

.ranks_col_rank{float: left;width:60px; text-align: center;}
.ranks_col_nation{float: left;width:50px; text-align: center;}
.ranks_col_class{float: left;width:50px; text-align: center;}
.ranks_col_character{float: left;width:160px;}
.ranks_col_clan{float: left;width:160px;}
.ranks_col_level{float: left;width:50px; text-align: center;}
.ranks_col_np{float: left;width:100px; text-align: right;}
.ranksclan_col_np{float: left;width:130px; text-align: right;}
.ranksclan_col_clan{float: left;width:280px;}
.ranksclan_col_clan a
{
    font-size:11px;
	color:#614b34; 
}
.ranksclan_col_clan a:hover
{
    font-size:11px;
	color:#ae8b68; 
}
.ranks_col_character a
{
    font-size:11px;
	color:#614b34; 
}
.ranks_col_character a:hover
{
    font-size:11px;
	color:#ae8b68; 
}
.ranks_col_clan a
{
    font-size:11px;
	color:#614b34; 
}
.ranks_col_clan a:hover
{
    font-size:11px;
	color:#ae8b68; 
}

.online_user_row{float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;
                   margin-bottom:25px; font-size:12px;}

.online_user_row_count{float:left; width:45px; padding-left:5px;}
		
.online_user_row_charactor_title{float:left; width:185px; text-align:left;}

		
.online_user_level{float:left; width:90px; text-align:center;}	
	
.online_user_level_monthly_pay{float:left; width:145px; text-align:right;}



.online_user_row_black{float:left; width:663px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:#060403; line-height:30px;}

.online_user_row_count_black{float:left; width:40px; color:#3d3329; text-transform:capitalize; padding-left:10px;}
		
.online_user_row_charactor_title_black{float:left; width:185px; text-align:left; text-transform:capitalize;}

		
.online_user_level_black{float:left; width:90px; text-align:center; text-transform:capitalize; padding-top:4px;}	
	
.online_user_level_monthly_pay_black{float:left; width:130px; text-align:right; text-transform:capitalize; padding-right:15px;}




.online_user_row_black_main{float:left; width:663px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						 background:none; line-height:30px;}

.online_user_row_count_black_main{float:left; width:40px; color:#3d3329; text-transform:capitalize; padding-left:10px;}
		
.online_user_row_charactor_title_black_main{float:left; width:185px; text-align:left; text-transform:capitalize;}

		
.online_user_level_black_main{float:left; width:90px; text-align:center; text-transform:capitalize; padding-top:4px;}	
	
.online_user_level_monthly_pay_black_main{float:left; width:130px; text-align:right; text-transform:capitalize; padding-right:15px;}

.drop_down_user{float:left;}






.main_user_ranking_full_row{float:left; width:663px;}





.main_left_user_ranking_text{float:left; width:331px;}
.user_ranking_row_user_ranking{float:left; width:331px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						  line-height:30px;   background:#060403;}



.user_ranking_row_user_ranking_back_none{float:left; width:331px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						  line-height:30px;   background:none;}


.user_ranking_count{float:left; width:30px; color:#3d3329; text-transform:capitalize;  text-align:center;}
		
.user_ranking_icons{float:left; width:20px; text-align:center; padding-top:8px;}

		
.user_ranking_level_black{float:left; width:140px; text-align:left; text-transform:capitalize; padding-top:0px; padding-left:10px;}	
	
.user_ranking_right_no_text{float:left; width:90px; text-align:right; text-transform:capitalize; padding-right:15px;
                             border-right:1px solid #120e0b; padding-right:15px;}




.main_righ_text_full_text{float:left; width:332px;}

.user_ranking_right_text{float:left; width:332px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						  line-height:30px;  background:#060403;}
						  
.user_ranking_right_text_no_back{float:left; width:332px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						  line-height:30px;  background:none;}						  

.user_ranking_count_right{float:left; width:30px; color:#3d3329; text-transform:capitalize;  text-align:center;}
		
.user_ranking_icons_right{float:left; width:20px; text-align:center; padding-top:8px;}

		
.user_ranking_level_black_right{float:left; width:140px; text-align:left; text-transform:capitalize; padding-top:0px; padding-left:10px;}	
	
.user_ranking_right_no_text_right{float:left; width:85px; text-align:right; text-transform:capitalize; padding-right:15px; border-right:none;}

.ranks_head_row{float:left; width:650px; font-size:12px; color:#342721; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;
                   margin-bottom:5px; font-size:12px;}
.ranks_head_row a{
	color: #dddd22;
}

.rank_button a{background:url(../images/poll_btns.png) no-repeat;width:134px;height:31px;float:left;color:#d0854f;line-height: 31px;text-align:center;  margin-bottom: 7px; font-weight: bold; }

.main_rank_content{float:left; width:650px; padding-left:0px; padding-top:5px;}

user_ranking_right_text_no_back{float:left; width:332px; font-size:12px; color:#816653; 
                         font-family:Arial, Helvetica, sans-serif; text-transform:capitalize;
						  line-height:30px;  background:none;}




/*EndUser*/


