html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-family:inherit;font-weight:400;font-style:normal;font-size:100%;text-align:left;line-height:1.6;padding:0;margin:0;border:0} 

span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,label,legend,caption{} 



table,th,td{border-collapse:collapse;border-spacing:0} 
ul{list-style:none} 

#sexyko-main{visibility:visible;margin:0 auto;width:914px;height:100%;z-index:0} 
#sexyko-header{position:relative;border-style:none;border-width:0;height:80px;width:916px;z-index:1} 
#slsj{position:relative;text-align:right;line-height:20px;margin-right:5px;margin-top:10px;z-index:5000;float:right;height:20px;width:250px} 
#slsj a{text-decoration:none;color:#fff} 
#slsj a:hover{text-decoration:underline;color:#900} 
#tab_nav{background-image:url(../skins/chaos/images/template.jpg);background-position:0 0;position:absolute;margin:0 auto;width:916px;height:28px;bottom:0} 
#tab_nav .left{padding-left:15px;height:30px;float:left} 
#tab_nav .left li{margin-right:20px;float:left} 
#tab_nav .left li a{line-height:30px;font-weight:700;font-size:14px} 
#tab_nav .right{padding-right:10px;padding-top:5px;font-size:14px;float:right} 
fieldset{padding:4px 0 6px 6px;border:1px solid gray} 
select{margin-bottom:2px;margin-top:2px} 
h2{font-family:arial,verdana,helvetica;padding-bottom:30px;font-weight:400;padding-left:30px;padding-top:30px;font-size:21px} 
a{text-decoration:none;cursor:pointer;outline:none} 
ol{list-style-type:decimal} 
ol ol{list-style-type:lower-alpha} 
a:active,a:visited,a:link{color:#BEBEBE} 
#select_language,#select_skin{border-top:2px solid #e0e0e0;background-color:#111;border:1px solid #e0e0e0;position:absolute;padding-bottom:5px;padding-top:5px;display:none;z-index:6000;width:80px;left:25px;top:25px} 
#select_language li,#select_skin li{list-style-type:none;padding-bottom:3px;padding-top:3px;margin:0} 
#select_language li a,#select_skin li a{padding-left:15px;display:block} 
#select_language li a:hover,#select_skin li a:hover{text-decoration:none;background:#900;color:#FFF} 
#loading{position:absolute;margin-left:-100px;margin-top:-6px;left:50%;top:50%} 
#sexyko-container{border-right:1px solid #414141;border-left:1px solid #414141;background-repeat:repeat;background-color:#000;padding-bottom:8px;padding-top:8px;width:914px;float:left} 
#sexyko-navigation{padding-left:8px;width:186px;float:left} 
#sexyko-navigation-top{background-image:url(../skins/chaos/images/template.jpg);background-position:-731px -93px;margin-bottom:8px;width:185px;height:83px} 
#sexyko-navigation-bck{width:185px} 
#sexyko-navigation-btm{background-image:url(../skins/chaos/images/template.jpg);background-position:-483px -177px;margin-bottom:8px;width:185px;height:46px} 
#sexyko-navigation-bck div{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -159px;background-repeat:no-repeat;cursor:pointer} 
#sexyko-navigation-bck div a{font-weight:900} 
#sexyko-navigation-bck li{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -186px;height:26px;width:185px} 
#sexyko-navigation-bck a{padding-left:16px;line-height:26px} 
#sexyko-content{position:relative;margin-left:8px;width:710px;float:left;z-index:0} 
#sexyko-content-top{height:48px} 
#sexyko-content-bck{background-repeat:no-repeat;width:712px;float:left} 
#sexyreplay{background-repeat:no-repeat;position:relative;width:707px} 
#sexyko-footer{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -28px;height:65px;position:relative;overflow:hidden;margin:0 auto;margin-top:0;width:916px} 
#sexyko-footer h1{border-top:1px solid black;text-align:center;line-height:30px;margin-top:24px;color:#F2F2F2} 
#noscript{font-family:arial,verdana,helvetica;margin-left:-457px;padding-left:10px;position:absolute;font-weight:700;line-height:28px;font-size:22px;color:#FFF;width:914px;height:28px;z-index:1;left:50%;top:11px} 
.sortarrow img{position:relative;height:12px;width:12px;left:5px;top:3px} 
.list_h2 h2.medium{padding-bottom:17px;padding-top:7px} 
.list_h2 h2.small{padding-bottom:7px;padding-top:7px} 
.list_h2 h2{background-image:url(../skins/chaos/images/ranking_background.jpg);background-repeat:no-repeat;text-align:center} 
.list_h2 h2 .pages{margin:10px auto 0;padding-bottom:10px;text-align:center;font-weight:700;font-size:12px;width:500px} 
.list_h2 h2 .images{height:16px;width:16px} 
.list{padding-top:5px;margin:0 auto;width:680px} 
.list tr{height:22px; background-color:black; } 
.list td{border:1px solid #352F04; cursor:pointer; text-align:center; } 
.list .head{background-image:url(img/cz.jpg);background-repeat:repeat-x;color:#fff} 
.list .head td,.list .head span{font-weight:700;color:#fff} 
.list2{padding-top:5px;width:382px} 
.list2 td{text-align:center} 
.list2 .head{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -140px;font-weight:700;color:maroon;height:19px} 
.list2 .divider{background-color:#000;width:5px} 
.list2 .odd{background-color:#161616;height:22px} 
.list2 .even{background-color:#3E3E3E;height:22px} 
.textbrown{color:#25120B} 
.textbm{padding-bottom:15px;font-weight:700;margin-top:6px;color:maroon} 
.center{margin-right:auto;margin-left:auto;text-align:center} 
input.center{margin-right:0 !important;margin-left:0 !important} 
.make_error{margin:0 0 12px 65px;padding-top:12px;width:500px} 
.tooltip{position:absolute;display:none;z-index:10} 
#social_links{background:url(../skins/chaos/images/social_links_background.jpg) no-repeat;padding-top:20px;width:185px;height:76px} 
#social_links #facebook_link{background-image:url(../skins/chaos/images/facebook_icon.png);width:39px;height:37px;margin-left:18px;float:left} 
#social_links #twitter_link{background-image:url(../skins/chaos/images/twitter_icon.png);width:37px;height:37px;margin-left:18px;float:left} 
#social_links #youtube_link{background-image:url(../skins/chaos/images/youtube_icon.png);width:37px;height:37px;margin-left:18px;float:left} 
#karus_online,#human_online{background-image:url(../skins/chaos/images/template.jpg);background-position:-483px -93px;text-align:center;margin-right:3px;line-height:40px;font-weight:700;font-size:13px;width:248px;height:42px;float:left} 
#karus_online span{background-image:url(../skins/chaos/images/template.jpg);background-position:-425px -179px;vertical-align:middle;display:inline-block;margin-right:12px;position:relative;height:33px;width:29px} 
#human_online span{background-image:url(../skins/chaos/images/template.jpg);background-position:-454px -179px;vertical-align:middle;display:inline-block;margin-right:12px;height:33px;width:29px} 
#server_time{background-image:url(../skins/chaos/images/template.jpg);background-position:-483px -135px;text-align:center;line-height:40px;font-weight:700;font-size:13px;width:207px;height:42px;float:left} 
.sexy_tabs{border-bottom:solid 1px #2E2E2E;height:22px !important;z-index:5} 
.sexy_tabs li{border:solid 1px #2E2E2E;border-bottom-style:none;position:relative;padding:6px 22px;cursor:pointer;display:inline} 
.sexy_tabs a{text-decoration:none;color:#AAA} 

.sexy_tabs li.closed{background-image:url(../skins/chaos/images/bg-shade-medium.png)} 
#sexyreplay form{padding:10px 0} 
#sexyreplay fieldset{border:0} 
#sexyreplay fieldset legend{margin-bottom:10px;margin-left:180px;font-weight:700} 
#sexyreplay fieldset label{vertical-align:bottom;display:inline-block;margin-right:10px;text-align:right;font-weight:700;width:150px} 
#sexyreplay fieldset input{width:200px !important;background-color:#000;margin-top:5px;color:#fff} 
#sexyreplay fieldset select{background-color:#000;color:#fff} 
#sexyreplay .submit{background:url(../skins/chaos/images/btn-back.jpg);font-family:verdana,arial,helvetica;background-repeat:repeat-x;border:1px solid #282828;margin-left:200px;font-weight:700;margin-top:10px;font-size:11px;cursor:pointer;color:#eee;height:24px} 
#sexyreplay .xxxxx{background:url(../skins/chaos/images/btn-back.jpg);font-family:verdana,arial,helvetica;background-repeat:repeat-x;border:1px solid #282828;font-weight:700;margin-top:10px;font-size:11px;cursor:pointer;color:#eee;height:24px} 
.application_success{text-align:center;font-weight:700} 
.application_success h6{padding-bottom:40px;font-weight:400;text-align:center;padding-top:40px;margin-top:0;font-size:21px} 
.application_success div{margin:-20px auto 40px;border:5px solid maroon;text-align:center;font-weight:700;font-size:50px;color:maroon;width:50%} 
.application_success span,.make_error span{font-weight:700;color:maroon} 
.nation,.class,.grade,.symbol{background-image:url(img/icon.bmp);display:inline-block;height:16px;width:16px} 
.nation.n1{background-position:0 -32px} 
.nation.n2{background-position:-16px -32px} 
.class.c11{background-position:-32px -32px} 
.class.c12{background-position:-48px -32px} 
.class.c13{background-position:-64px -32px} 
.class.c14{background-position:-80px -32px} 
.class.c21{background-position:-96px -32px} 
.class.c22{background-position:-112px -32px} 
.class.c23{background-position:-128px -32px} 
.class.c24{background-position:-144px -32px} 
.grade.g2{background-position:-16px 0} 
.grade.g3{background-position:-32px 0} 
.grade.g4{background-position:-48px 0} 
.grade.g5{background-position:-64px 0} 
.grade.g6{background-position:-80px 0} 
.grade.g7{background-position:-96px 0} 
.grade.g8{background-position:-112px 0} 
.grade.g9{background-position:-128px 0} 
.grade.g10{background-position:-144px 0} 
.grade.g11{background-position:-160px 0} 
.grade.g12{background-position:-176px 0} 
.grade.g13{background-position:-192px 0} 
.grade.g14{background-position:-208px 0} 
.grade.g15{background-position:-224px 0} 
.symbol.a1{background-position:0 -16px} 
.symbol.a2{background-position:-16px -16px} 
.symbol.a3{background-position:-32px -16px} 
.symbol.a4{background-position:-48px -16px} 
.symbol.a5{background-position:-64px -16px} 
.symbol.a6{background-position:-80px -16px} 
.symbol.b1{background-position:-96px -16px} 
.symbol.b2{background-position:-112px -16px} 
.symbol.b3{background-position:-128px -16px} 
.symbol.b4{background-position:-144px -16px} 
.symbol.b5{background-position:-160px -16px} 
.symbol.b6{background-position:-176px -16px} 
#overlay{background:#000;position:fixed;z-index:2999;height:100%;opacity:0.5;width:100%;left:0;top:0} 
.expose{background-color:#1E1E1E;border:1px solid black;margin-left:-350px;margin-top:-225px;position:fixed;display:none;z-index:3000;width:700px;left:50%;top:50%} 
.item_icon{background-color:#000;position:relative;height:45px;width:45px;float:left} 
.item_ext2{font-family:arial,Microsoft Sans Serif;background-color:#000;border:solid 1px #999;font-weight:400;font-size:12px;color:#FFF;padding:6px;float:left} 
.item_ext2 h1{padding:0 25px;text-align:center;font-weight:700;line-height:1.6;font-size:16px} 
.item_ext2 li{line-height:normal;white-space:nowrap;position:relative} 
#inventory1{position:absolute;height:281px;width:177px;left:354px;z-index:7;top:32px} 
#inventory2{position:absolute;height:188px;width:330px;left:188px;top:346px} 
#bag1,#bag2{position:absolute;height:188px;width:141px;left:18px;top:346px} 
.inn{margin:0 auto;width:315px} 
.inn ul{background-image:url(../skins/chaos/images/userprofile/inn.bmp);display:none;height:208px;width:315px} 
.inn li{margin-right:1px;margin-left:6px;margin-top:6px} 
.inn .bg{background-image:url(../skins/chaos/images/userprofile/gold.png);position:relative;width:315px;height:32px} 
.inn a.left{background-image:url(../skins/chaos/images/userprofile/left.gif);position:absolute;display:block;height:22px;width:21px;left:5px;top:5px} 
.inn .middle{position:absolute;line-height:1.0;font-size:11px;color:#FFF;left:49px;top:10px} 
.inn a.right{background-image:url(../skins/chaos/images/userprofile/right.gif);position:absolute;display:block;height:22px;width:21px;left:80px;top:5px} 
.inn .gold{position:absolute;text-align:right;color:#E6E640;right:8px;top:11px} 
#inventory1 li,#inventory2 li,#bag1 li,#bag2 li,.inn li{list-style-type:none;position:relative;display:inline;cursor:pointer;height:45px;width:45px;float:left} 
#inventory1 li{margin-left:7px;margin-top:7px} 
#inventory2 li,#bag1 li,#bag2 li{margin-left:2px;margin-top:2px} 
.count{position:absolute;font-weight:700;font-size:10px;color:#FFF;line-height:1;bottom:4px;left:3px} 
.sealed{background-color:#ff0} 
.transparent{} 
.c_red{text-align:center;color:#FF3C39} 
.c_yellow{text-align:center;color:#FF0} 
.c1{color:#8482FF} 
.c2{color:#FF0} 
.c3,.cbonus{color:#84FF00} 
.c4{color:#DEC77B} 
.c5{color:#A43E99} 
.c9,.c8,.c6{color:#00FFCE} 
.c11{color:#FF82A5} 
.c12{color:#FFA500} 
#float_login{padding:0 10px 10px;background:#1C1C1C;position:absolute;display:none;z-index:1000;width:300px;right:0;top:29px} 
#float_login_close{background-image:url(../skins/chaos/images/template.jpg);background-position:-425px -163px;position:absolute;height:16px;width:16px;right:10px;top:5px} 
#login_result{display:none;width:290px;top:30px} 
#login_form{position:relative;padding-top:25px;margin-top:15px;width:300px} 
#login_form ul{display:inline;width:168px;float:left} 
#login_form ul li{font:12px arial,verdana,helvetica;position:relative;text-align:left;display:inline;color:#333;height:28px;float:left} 
#login_form ul li label{position:absolute;color:#1C1C1C;z-index:1;left:8px;top:2px} 
#login_form ul li input{padding:2px 4px;border:1px solid #ccc;background:#FFF;font-size:14px;width:158px;height:18px} 
#login_form ul li input.focus{border:1px solid #2468A5 !important} 
#login_submit{background-image:url(../skins/chaos/images/template.jpg);font:700 14px arial,verdana,helvetica;background-position:-185px -162px;border:1px solid #535353;background-color:#000;margin-bottom:6px;overflow:visible;margin-left:4px;display:inline;color:#FFF;height:52px;width:119px;float:left} 
#login_submit:hover{background-image:url(../skins/chaos/images/template.jpg);background-position:-305px -162px;color:#FFF} 
#login_form .links{margin:0 0 3px 9px;display:inline;width:270px;float:left} 
#login_form .links div{line-height:13px;font-size:10px;color:#777} 
#login_form .links a{color:#CD9A31} 
.login_error{border:1px solid #FF8FA9 !important;padding:2px 2px 2px 4px !important;background:#EED8E0 !important;color:#F00 !important;position:relative;font-weight:700;font-size:14px} 
.home{width:712px !important} 
#home_main_news{background-image:url(../skins/chaos/images/chaos.jpg);border:1px solid #3E3E3E;height:507px;width:401px;float:left} 
#home_main_news div{margin-left:145px;margin-top:190px;height:145px;width:240px} 
#home_main_news h1{margin-bottom:12px;text-align:center;font-weight:700;font-size:20px} 
#home_main_news p{text-align:center;font-size:12px;height:50px} 
#home_main_news div.en a{background-image:url(../skins/chaos/images/see_more_en.jpg)} 
#home_main_news div.es a{background-image:url(../skins/chaos/images/see_more_es.jpg)} 
#home_main_news .xy{margin-left:40px;margin-bottom:5px;display:block;width:160px;height:46px;background-image:url(../skins/chaos/images/see_more_tr.jpg)} 
#home_next_event{border:1px solid #3E3E3E;position:relative;margin-right:4px;display:inline;height:250px;width:296px;float:right} 
#home_next_event img{position:absolute;z-index:101} 
#home_next_event div.event{background-image:url(../skins/chaos/images/events.jpg);position:absolute;z-index:101;height:250px;width:296px} 
#home_next_event div.bifrost,.grade.g1{background-position:0 0} 
#home_next_event div.border_defense_war{background-position:-296px 0} 
#home_next_event div.chaos_dungeon{background-position:-592px 0} 
#home_next_event div.lunar_war{background-position:-888px 0} 
#home_next_event div.forgotten_temple{background-position:0 -250px} 
#home_next_event div.juraid_mountain{background-position:-296px -250px} 
#home_next_event div.castle_siege_war{background-position:-592px -250px} 
#home_next_event div.dark_lunar_war{background-position:-888px -250px} 
#home_next_event div.timeleft{background-image:url(../skins/chaos/images/template.jpg);background-position:-300px -137px;position:absolute;font-size:12px;color:#FFFF80;width:136px;height:19px;z-index:101;left:25%;top:15px} 
#home_next_event div.timeleft div.left{position:absolute;text-align:center;font-weight:700;width:69px} 
#home_next_event div.timeleft div.right{position:absolute;font-weight:700;right:10px} 
#home_next_event div.buttons{border:2px solid #999;background-color:#000;padding:3px 3px 3px 0;position:absolute;z-index:101;bottom:5px;left:5px} 
#home_next_event div.status{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -93px;border:1px solid black;position:absolute;font-weight:700;font-size:13px;color:#FDFD96;padding:0 2px;z-index:101;bottom:7px;right:5px} 
#home_next_event a{background-color:#900;border:2px solid #720000;position:relative;margin-left:3px;display:inline;height:12px;width:12px;float:left} 
#home_next_event a:hover,#home_next_event a.selected{background-color:#F00} 
#home_latest_news{border:1px solid #3E3E3E;margin-right:4px;margin-top:9px;display:inline;height:246px;width:296px;float:right} 
#home_latest_news .head{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -93px;background-repeat:repeat-x;margin-bottom:4px;padding-right:5px;padding-left:5px;width:286px;height:23px} 
#home_latest_news .head span,#home_latest_news .head a{font-weight:700;line-height:23px;color:#fff} 
#home_latest_news .head span.right{float:right} 
#home_latest_news .quick_news{padding-bottom:4px;border-bottom:2px solid #252525} 
#home_latest_news .quick_news .title{height:29px} 
#home_latest_news .quick_news .title span{padding-left:8px;font-weight:700;line-height:25px;color:#996C29} 
#home_latest_news .quick_news .title a{line-height:25px;font-weight:700;margin-left:8px;cursor:pointer;color:#999} 
#home_latest_news .quick_news .text{margin-left:70px;line-height:20px;height:45px} 
#home_latest_news .quick_news .text a{font-weight:700;color:#996C29} 
#home_latest_news .quick_news.open{background-color:#252525} 
#home_latest_news .quick_news.close,.sexy_tabs li.open{background-color:#000} 
#home_latest_news #news_5.quick_news{border-bottom-width:0} 
#home_ranking_tabs{border:1px solid #000;margin-top:10px;width:400px;float:left} 
#home_ranking_tabs .open,#home_ranking_tabs .closed{text-align:center;margin-bottom:2px;margin-right:5px;height:22px;float:left} 
#home_ranking_tabs .open a,#home_ranking_tabs .closed a{font-weight:700;line-height:22px} 
#home_ranking_tabs .open .left{background-image:url(../skins/chaos/images/template.jpg);background-position:-300px -115px;height:22px;width:10px;float:left} 
#home_ranking_tabs .open .middle{background-image:url(../skins/chaos/images/template.jpg);background-position:-310px -115px;text-align:center;height:22px;float:left} 
#home_ranking_tabs .open .right{background-image:url(../skins/chaos/images/template.jpg);background-position:-430px -115px;height:22px;width:10px;float:left} 
#home_ranking_tabs .closed .left{background-image:url(../skins/chaos/images/template.jpg);background-position:-300px -93px;height:22px;width:10px;float:left} 
#home_ranking_tabs .closed .middle{background-image:url(../skins/chaos/images/template.jpg);background-position:-310px -93px;text-align:center;height:22px;float:left} 
#home_ranking_tabs .closed .right{background-image:url(../skins/chaos/images/template.jpg);background-position:-430px -93px;height:22px;width:10px;float:left} 
#home_ranking_tabs #ranking{border:1px solid #3E3E3E;overflow-y:scroll;height:242px;width:401px} 
#home_server_status{border:1px solid #3E3E3E;margin-right:4px;margin-top:5px;display:inline;height:270px;width:296px;float:right} 
#home_server_status div{background-image:url(../skins/chaos/images/template.jpg);background-position:0 -116px;font-weight:700;line-height:23px;padding-left:5px;font-size:13px;height:23px;width:291px} 
#home_server_status ul{display:block;width:296px;height:29px;border-bottom:2px solid #3E3E3E} 
#home_server_status li{position:relative;text-align:center;line-height:29px;padding-left:6px;width:140px;float:left} 
#home_server_status .online{background-image:url(../skins/chaos/images/online.png);position:absolute;height:15px;width:15px;right:65px;margin-top:7px} 
#home_server_status .offline{background-image:url(../skins/chaos/images/offline.png);position:absolute;height:15px;width:15px;right:65px;margin-top:7px} 
#glossary{margin:20px auto 0;width:650px} 
.userprofile table td,.userprofile table td a{font-family:Verdana,Arial,Sans-Serif;line-height:12px !important;font-size:11px !important} 
.account_protection{background-image:url(../skins/chaos/images/account_protection_background.jpg)} 
.account_protection .content{margin-left:50px;width:600px} 
.account_protection .content ul{margin:11px 0 11px 25px;list-style-type:disc} 
.adventure_carnac .content{margin-left:-5px;width:711px} 
.adventure_carnac .content ul{width:711px;float:left} 
.adventure_carnac .content ul li{text-align:center;font-weight:700;height:165px;width:237px;float:left} 
.adventure_carnac_divs{background-color:#1E1E1E;position:relative;padding-top:50px;margin-left:5px;overflow:hidden;display:none;width:711px} 
.adventure_carnac_divs .left{text-align:center;margin-bottom:1px;margin-right:10px;margin-left:12px;width:345px;float:left} 
.adventure_carnac_divs .left img{padding-bottom:20px} 
.adventure_carnac_divs .right{width:325px;float:left} 
.adventure_carnac_divs .full{margin-bottom:20px;margin-left:20px;width:630px} 
.bug_reporting{background-image:url(../skins/chaos/images/bug_reporting_bg.jpg)} 
.bug_reporting .title{padding:25px 0 30px 10px;font-size:20px} 
.bug_reporting .content{margin-left:20px;margin-bottom:20px} 
.bug_reporting .content select{margin-bottom:10px;margin-top:10px} 
.bug_reporting .content table textarea,.bug_reporting .content table input{font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;margin-bottom:12px;margin-top:12px;font-size:14px} 
#login_required p{margin-bottom:18px;font-weight:700;margin-top:18px;color:#fff} 
#login_required a{text-decoration:underline;font-weight:700;color:#CB9800} 
.classes{background-image:url(../skins/chaos/images/classes-bg.jpg)} 
.classes .title{padding:45px 0 120px 25px;font-size:20px} 
.classes .content{margin-left:35px;width:640px} 
.classes .content ul{margin-top:50px} 
.classes .content ul li{text-align:center;font-weight:700;width:152px;float:left} 
.classes .content ul li img{display:inline-block;height:162px;width:153px} 
.classes_block .close{margin-right:6px;margin-top:6px;float:right} 
.classes_block .left{vertical-align:top;padding-bottom:15px;padding-top:35px;width:365px;float:left} 
.classes_block .left img{margin-left:15px;margin-bottom:25px} 
.classes_block .right{vertical-align:top;padding-bottom:15px;padding-top:15px;width:335px;float:left} 
.classes_block .right div{padding-left:15px;width:300px} 
.classes_block .right div p{margin-bottom:30px;margin-top:0} 
.classes_block .right table{border-collapse:collapse;margin-left:15px;margin-top:40px} 
.classes_block .right .head td{background-image:url(../skins/chaos/images/classes_table_background.jpg);font-weight:700;font-size:12px;color:#FFF} 

.cursed_weapons .title{padding:25px 0 60px 20px;font-size:20px} 
.cursed_weapons .content{margin-left:12px;width:690px} 
.cursed_weapons .content .left{width:290px;float:left} 
.cursed_weapons .content .right{font-family:Arial,Helvetica,sans-serif;font-size:12px;width:400px;float:left} 
.cursed_weapons img{display:inline-block} 
.downloads{background-image:url(../skins/chaos/images/download-background.jpg)} 
.downloads .title{padding:25px 0 35px 15px;font-size:20px} 
.downloads_content{margin-left:30px;display:inline;float:left} 
.downloads_content .title{margin-bottom:10px;font-weight:700;margin-top:25px;font-size:14px;padding:0} 
.downloads_content .note{margin-bottom:25px;width:650px} 
.downloads_content .block{border:solid 1px #333;margin-bottom:30px;margin-right:30px;height:220px;width:290px;float:left} 
.downloads_content .block .left{padding-left:10px;padding-top:30px;height:220px;width:100px;float:left} 
.downloads_content .block .right{font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;float:left} 
.downloads_content .block .right .title{font-weight:700;margin-top:35px;font-size:13px;padding:0} 
.downloads_content .block .right .intro{margin-top:30px;font-size:11px;width:180px} 
.downloads_content .block .right a{margin-top:35px;display:block;width:142px;height:36px} 
#downloads_section_2 .left{margin-left:00px;width:300px;float:left} 
#downloads_section_2 .right{margin-left:30px;width:300px;float:left} 
#downloads_section_2 h1{font-family:arial,verdana,helvetica;padding-bottom:25px;font-weight:400;text-align:center;margin-left:-3px;padding-top:30px;font-size:18px} 
#downloads_section_2 ul{border:solid 1px #333;background-color:#000;list-style-type:disc;min-width:290px;padding:10px 0} 
#downloads_section_2 li{margin:5px 0 5px 45px} 
.events{background-image:url(../skins/chaos/images/events-bg.jpg)} 
.events .title{padding:25px 0 45px 15px;font-size:20px} 
#events_content1 .open,#events_content2 .open,#home_latest_news .quick_news.open .text,#sexyko-navigation-bck ul.open{display:block} 
#events_contenct1 #DEFAULT1,#events_content2 #DEFAULT2{border-top:solid 1px #2E2E2E;padding-top:50px;width:704px} 
#events_content1 #DEFAULT1 li,#events_content2 #DEFAULT2 li{padding-bottom:20px;text-align:center;font-weight:700;height:160px;width:230px;float:left} 
#events_content1 a,#events_content2 a{padding-bottom:10px} 
#events_section_3 #DEFAULT3{margin:30px auto 0;padding-top:5px;width:530px} 
#events_section_3 #DEFAULT3 .odd,.list .odd{background-color:#161616; color:white;} 
#events_section_3 #DEFAULT3 .odd,.list .odd:hover {background-color:#701E1E; color:white;} 
#events_section_3 #DEFAULT3 .even,.list .even{background-color:#3E3E3E; color:white;} 
#events_section_3 #DEFAULT3 th{background-image:url(img/cz.jpgc)} 
#events_section_3 #DEFAULT3 th,#events_section_3 #DEFAULT3 td{border:1px solid gray;text-align:center;padding-left:5px;line-height:16px;font-size:12px;height:16px} 
.events_content{border-top:solid 1px #2E2E2E;background-color:#1E1E1E;margin-right:auto;margin-left:auto;position:relative;overflow:auto;display:none;width:706px} 
.events_content .block{padding-top:20px;margin-left:5px;width:670px} 
.events_content .block .left{vertical-align:top;padding-left:10px;width:310px;float:left} 
.events_content .block .right{padding-left:10px;width:340px;float:left} 
.events_content .right .event-title{margin-bottom:10px;font-weight:700;font-size:13px;color:#CCC} 
.events_content .right .event-summary{padding-bottom:25px;font-weight:400;font-size:12px;color:#CCC} 
.events_content .right .event-summary ul{list-style:disc} 
.events_content .right .event-summary li{margin-left:20px;margin-bottom:5px} 
.faq{background-image:url(../skins/chaos/images/faq-background.jpg)} 
.faq .content{margin-left:30px} 
.faq .content h5{background-image:url(../skins/chaos/images/faq-header-background.jpg);font-family:arial,verdana,helvetica;text-decoration:none !important;background-color:white;background-repeat:no-repeat;outline:none !important;font-weight:700;margin-top:10px;cursor:pointer;font-size:12px;display:block;color:#FFF;padding:4px;width:640px;height:27px;border:0} 
.faq .content ul{margin-left:20px;display:none} 
.faq .content ul li{padding-top:3px} 
.faq .content ul li a{color:#DDD} 
.faq .content ul li div{background-color:#080808;border:1px solid #151515;padding-right:10px;padding-left:10px;padding:0 10px;margin:8px 0;font-size:12px;display:none;width:508px} 
.faq .content ul li div ul{list-style-type:disc;display:block} 
.faq .content ul li div ol{list-style-type:decimal;margin-left:20px} 
.faq .content ul li div ol li{margin-left:10px} 
.faq .content ul li div a{text-decoration:underline;display:inline} 
.features,.changeseal,.permissions,.changepassword,.changesecurity,.nationtransfer,.genderchange,.resetlevel,.user,.shop,.deletecharacter,.classchange,.namechange,.register,.forgotpw,.reval,.search,.ventrilo{background-image:url(../skins/chaos/images/features-background.jpg)} 
.features .title{padding:25px 0 40px 25px;font-size:20px} 
.features .content{margin-left:35px} 
.features .content ul{list-style-type:disc;margin-left:25px;margin-top:5px} 
.features .content ul ul{list-style-type:circle} 
.getting_started{background-image:url(../skins/chaos/images/getting-started-bg.jpg)} 
.getting_started .title{padding:25px 0 40px 20px;font-size:20px} 
.getting_started .content{position:relative;width:707px} 
.getting_started .content ul{margin-top:80px;margin-left:10px} 
.getting_started .content ul li{text-align:center;font-weight:700;width:225px;float:left} 
.getting_started .content ul li img,#events_content1 #DEFAULT1 li img,#events_content2 #DEFAULT2 img,.adventure_carnac .content ul li img{display:inline-block;height:123px;width:111px} 
.getting_started .content a,.classes .content a,.adventure_carnac .content a,.application_success font,#tab_nav .right a{font-weight:700} 
.getting_started_divs{background-color:#1E1E1E;position:relative;padding-top:50px;overflow:hidden;display:none;width:707px} 
.getting_started_divs .close_button,.events_content .close_button,.adventure_carnac_divs .close_button{position:absolute;height:19px;width:19px;right:8px;top:8px} 
.getting_started_divs .left{text-align:center;margin-right:10px;margin-left:12px;width:309px;float:left} 
.getting_started_divs .left img{width:309px;height:253px} 
.getting_started_divs .right{width:341px;float:left} 
.getting_started_divs .right p{margin-bottom:20px} 
.kings .title,.faq .title{padding:35px 0 35px 20px;font-size:20px} 
.kings .content{margin-left:45px} 
.kings .content .left{height:485px;width:250px;float:left} 
.kings .content .right{margin-left:100px;height:485px;width:250px;float:left} 
.kings .content .title{font-weight:700;height:40px} 
.kings .content .title img{vertical-align:middle} 
.media{background-image:url(../skins/chaos/images/media-bg.jpg)} 
.media .title,.account_protection .title{padding:35px 0 35px 25px;font-size:20px} 
#media_section_1 ul{border-top:solid 1px #2E2E2E;background-color:#000;padding-top:50px;padding-left:6px;width:701px} 
#media_section_1 li{padding-bottom:20px;text-align:center;font-weight:700;width:225px;float:left} 
#media_section_1 img{display:inline-block;height:142px;width:199px} 
#media_section_1 a{color:#989898;padding:3px} 
#media_section_2{margin-left:30px;margin-top:45px} 
#media_section_2 .left{padding-left:30px;width:255px;float:left} 
#media_section_2 .left img{padding-bottom:30px} 
#media_section_2 .right{float:left;width:375px} 
#media_section_2 .right ul{list-style-type:disc;margin-bottom:12px;padding-left:24px;margin-top:12px} 
.news .content{font-family:Verdana,Arial,Helvetica,sans-serif;margin-left:30px;display:inline;width:676px;float:left} 
.news .content .left{margin-bottom:30px;margin-right:30px;padding-top:30px;width:460px;float:left} 
.news .content .left .body{border-bottom:solid 1px gray;font-size:11px;color:#CCC} 
.news .content .left .body p,#media_section_2 .right p,p{margin-bottom:11px;margin-top:11px} 
.news .content .right{margin-left:20px;width:150px;float:left} 
.news .content .right .title{border-bottom:solid 1px gray;padding:75px 0 0;font-size:11px} 
.news .content .right a{font-size:10px} 
.news .content .right a:hover{text-decoration:none;color:#FFF} 
.policies{background-image:url(../skins/chaos/images/policies_bg_0.jpg)} 
.policies .title{padding:40px 0 60px 20px;font-size:20px} 
.policies .content table{border-collapse:collapse;margin-right:auto;margin-left:auto;width:648px} 
.policies .content .head td{margin-bottom:.0001pt;line-height:normal;text-align:center;font-size:15.0pt;font-weight:700;color:#fff} 
.policies .content .terminated{font-weight:700;color:#C0504D} 
.policies .content td{border:solid #F2F2F2 1.0pt;background-color:#000;width:2.25in;padding:5px;height:30px;color:#fff} 
.premiums{background:url(../skins/chaos/images/premiums-background.jpg)} 
.premiums .content{padding-top:120px} 
.premiums .content .left{border-right:2px solid #555;padding-right:25px;padding-left:20px;width:269px;height:300px;float:left} 
.premiums .left a{border:1px solid #333;border-top-color:#545454;border-right-color:#404040;border-bottom-color:#0f0f0f;border-left-color:#1d1d1d;text-decoration:none;margin:5px 0 15px;background:#333;cursor:pointer;display:block;padding:3px;width:259px;height:66px} 
.premiums .content .left a{border:1px solid #590e0b;border-top-color:#802f2f;border-right-color:#6a201f;border-bottom-color:#180303;border-left-color:#350707;background:#590e0b;color:#FFF} 
.premiums .content .left a img,#home_latest_news .head span.left,.sortarrow{float:left} 
.premiums .content .left a div{text-align:center;line-height:19px;font-size:15px